[2016-11-28 13:19] ChrisMaddock opened #1 "TestCase analyser doesn't handle nullables"
The TestCase analyser incorrectly flags up the below test, with nullable parameters.

![image](https://cloud.githubusercontent.com/assets/4837132/20669564/ccd6b484-b56c-11e6-9110-bb2aa3b16409.png)

![image](https://cloud.githubusercontent.com/assets/4837132/20669569/d62f762e-b56c-11e6-8fd7-217780d48410.png)

I had a quick test with optional parameters and params, and they both look good!

[2016-11-28 13:45] ChrisMaddock opened #2 "TestCase analyser interprets number types differently to framework"
![image](https://cloud.githubusercontent.com/assets/4837132/20670390/9952953e-b570-11e6-9b71-e0abbadedb12.png)

The analyser incorrectly flags the above TestCase's as not being doubles, which NUnit is happy to parse.

With this and #1, I wonder if this is entering something of a rabbit hole. Maybe we should revisit exposing and sharing this functionality from the framework - although from what you

[2016-11-28 13:51] ChrisMaddock opened #3 "ClassicModelAssertUsageAnalyser throws InvalidOperationException"
I haven't looked in to this too much, but I believe it may be when it encounters a property in the TestFixture class.

[code]

[2016-11-28 14:16] ChrisMaddock commented on #2
I had a quick dig. Looks like the code at the line below is the source - I don't know how consistent that is across different attributes, if this was to later be expanded!

https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestCaseAttribute.cs#L363

[2016-11-28 14:21] JasonBock commented on #1
Should be able to fix this pretty easy.

[2016-11-28 14:32] JasonBock commented on #2
My implementation does a direct "can I pass in a value of this type to the parameter which has this type?" Looks like NUnit does some conversions if it can, and yes, that code would have to be shared for the analyzer to work the exact same way. But it seems like it's `private`, so I can't call it. Personally, I don't like that if you give an int value to a double that NUnit will try to convert it.

[2016-11-28 14:36] JasonBock commented on #3
@ChrisMaddock if possible, please post a code snippet that generates the error, that'll help a lot in trying to figure out where the problem is.

[2016-11-28 14:40] ChrisMaddock commented on #3
Sure, sorry, that was a rubbish bug report! 😄 I'll try and write something to replicate it that I can share soon.

[2016-11-28 14:45] ChrisMaddock commented on #2
Yup - I think this would be definite grounds to expose this and `GetParametersForTestCase(IMethodInfo method)` too. @nunit/core-team?

No comments on good practice - but I imagine changing that now would be a pretty substantial breaking change!

[2016-11-28 14:46] ChrisMaddock commented on #2
Just to add - there was an ongoing discussion on how to sync up this sort of logic between all the various different attributes which use it, or something similar. We should probably deal with that at the same time as exposing this, if we go down that route!

[2016-11-28 14:58] CharliePoole commented on #2
TestCase attribute has additional conversions to other days sources to compensate for the limitations imposed on Attribute arguments by C#. I can give specific rules if it would help.

This sounds like another good reason to put the analyzers in the framework repo.

[2016-11-28 14:58] OsirisTerje commented on #3
JFYI:  I tried to debug with the VSIX; but there everything worked.  For me this error happens with the nuget package, not the vsix.

[2016-11-28 14:59] JasonBock commented on #3
@OsirisTerje That's....odd. There shouldn't be a difference between a VSIX installation and NuGet packaging, but....who knows. What does the code look like that causes the exception?

[2016-11-28 15:04] OsirisTerje commented on #3
Just standard Assert.AreEqual(4,4);  And the message as shown earlier:  https://cloud.githubusercontent.com/assets/203432/20644138/d9f466cc-b42a-11e6-9ba3-75a6c405f483.png

[2016-11-28 15:06] OsirisTerje commented on #3
I wonder if it is something with the target framework, but I added a portable class lib, and got the same issue there, so..... not sure....  But it definitively looks like a loading issue, so it finds some NUnit framework that doesnt match its expectations

[2016-11-28 15:11] ChrisMaddock commented on #3
Just to highlight - the exception in this issue is a different one to the one your seeing there @OsirisTerje. I get that too - although hadn't posted an issue about that one as it already seemed to be have been raised. 😄

I see those File.IO and NullReference exceptions all over - the InvalidOperationException was just from a specific class.

[2016-11-28 15:17] JasonBock commented on #3
So let's keep issues separate. If there is a different one, please post a new issue.

[2016-11-28 15:23] JasonBock commented on #1
@ChrisMaddock get latest and see if it's fixed now. If so, please close the issue.

[2016-11-28 15:26] JasonBock commented on #3
@ChrisMaddock, @OsirisTerje meaning, if there's an issue because the analyzer is referencing NUnit.Framework.dll directly and the projects it's being included in gets messed up because of a reference to a different version of NUnit and/or the Nunit assembly can't be found at all, log that as a separate issue and then I'll track that down.

[2016-11-28 15:27] OsirisTerje commented on #3
You have two symptoms pointing to probably  the same cause.  Do you need another issue to track that?

[2016-11-28 15:29] JasonBock commented on #2
@ChrisMaddock @CharliePoole just to reiterate, I probably won't be able to reuse the logic in the framework because the Compiler API object model doesn't deal with Reflection-based types. I'm guessing I'd have to redo the logic in the analyzer.

[2016-11-28 16:23] CharliePoole commented on #2
Not sure what you mean by "Reflection-based" types. Let's take an example: Because decimal can't be used as an argument to an Attribute, TestCaseAttribute will translate a string to a decimal if that's the type required by the test method. Neither Decimal nor String are peculiar to reflection, even though we discover them through reflection.

So, if you wanted to allow for this in your checks, you

[2016-11-28 19:46] CharliePoole commented on #2
NUnit has historically treated all numeric types as convertible in assertions. For example, 5 is equal to 5.0d. This goes back to around 2000.

For test case parameters, we try to generally allow any conversion that C# would do implicitly, but add some extras to make up for limitations in C# WRT attribute arguments. This is more recent - probably only goes back 10 years or so. :-)

IOW, it's not s

[2016-11-28 20:20] JasonBock commented on #2
@CharliePoole I mean that if we try to share code that does any type or Reflection-based work, I probably can't use it directly from the analyzer as you just don't get that kind of information in the Compiler API.

What I'd really be looking for is, what types can be converted to what type? E.g. if you give an int in `[TestCase]`,, what method parameter types are acceptable for that given type?

[2016-11-28 20:20] JasonBock commented on #3
@OsirisTerje I don't know. At this point I can't tell what the exact issue is here.

[2016-11-28 20:21] JasonBock commented on #3
Oops, wrong button :)

[2016-11-28 20:41] CharliePoole commented on #2
I wasn't thinking of sharing code, just info about what conversions are supported. I'll have some time later today to get you better info.

[2016-11-29 02:49] JasonBock opened #4 "Ensure Classes With TestFixtureAttribute Have at Least One Test"
# Description:
If a class is marked with `[TestFixture]`, it must have at least one method marked with `[Test]` or `[TestCase]`.

# Example:
[code]

To fix it:

[code]
# Analyzer Message:
"A test fixture class must have at least one test method."
# Default Severity Level:
Error
# Code Fixes:
none

[2016-11-29 02:54] JasonBock opened #5 "Ensure Constructors and Test Methods are Public"
# Description:
A class marked with `[TestFixture]` must have all of their constructors as `public` as well as any methods marked with `[Test]` or `[TestCase]`.
# Example:
[code]

To fix it:

[code]
# Analyzer Message:
"A constructor for a test fixture class must be public."
"A test method must be public."
# Code Fixes:
Change the visibility value for the constructor or test method to public.

[2016-11-29 03:35] JasonBock commented on #3
I created a project that referenced the NuGet package as well as the NUnit package and the analyzers worked just fine. So....I'm not sure how to get the issues being reported here....

[2016-11-29 03:45] JasonBock commented on #3
Aha! I think I can get it to happen locally :). Now....to figure out what the problem really is....

[2016-11-29 04:05] CharliePoole commented on #4
This is usually true but not always, for several reasons:

1. There are other attributes that designate tests, e.g. TestCaseSource. Users can define new attributes that also designate tests.

2. A TestFixture may inherit from a base class where the tests are defined - that is the tests must exist but not necessarily be defined in the class.

[2016-11-29 04:08] CharliePoole commented on #5
There must be a public constructor but there could be non-public ones as well.

As with #4, you would want to allow for other attributes besides Test and TestCase.

[2016-11-29 04:26] JasonBock commented on #3
OK, I **think** I've figured out where that "sequence contains no elements" is coming from. Try it now and see if it fixes it.

The other issue with `FileLoadException` that @OsirisTerje mentioned....I don't know what that is - I haven't had that happen on my machine, whether I use the VSIX or NuGet package. I think it's a separate issue so please log a different issue so I can trace that one down

[2016-11-29 04:30] JasonBock commented on #4
@CharliePoole so I'm guessing this isn't possible to do as an analyzer, unless:

1) You know which attributes constitute as "test" attributes, like `Test`, `TestCase` and `TestCaseSource`, along with a discoverable way to know what other user-created attributes designate tests
2) The class marked with `[TestFixture]` is sealed as you know it cannot be the base class to another class.

[2016-11-29 04:32] JasonBock commented on #5
@CharliePoole "There must be a public constructor" - does that mean at least 1? Does it matter if it takes arguments or not?

[2016-11-29 04:35] CharliePoole commented on #4
For all practical purposes, I think that's probably true.

[2016-11-29 04:37] CharliePoole commented on #5
At least 1. Possibly more. The constructor needs to take arguments if arguments are provided. IOW, the constructor has to match the TestFixture arguments in the same way that a method has to match TestCase arguments.

[2016-11-29 05:03] JasonBock commented on #5
@CharliePoole I'm guessing that the rules around type conversion for `TestFixture` arguments to constructor parameters is the same as the ones for `TestCase`?

[2016-11-29 05:05] JasonBock commented on #4
@CharliePoole BTW how does a user create their own test designation attributes?

[2016-11-29 06:16] CharliePoole commented on #5
Probably the same or at least close, but written at different times so could be different.

[2016-11-29 06:17] CharliePoole commented on #4
By implementing certain interfaces. Is that something you are able to detect?

[2016-11-29 09:36] ChrisMaddock commented on #5
This should probably also be aware that `[TestFixture]` is optional.

@CharliePoole would do I better job of explaining the specific that I can, but I think any class that contains `[Test]` methods, is implicitly a `[TestFixture]`?

[2016-11-29 14:38] JasonBock commented on #4
@CharliePoole Yes. If you give me the rules I should be able to detect that.

[2016-11-29 17:41] ChrisMaddock commented on #1
Yep, thanks!

[2016-11-29 17:41] #1 closed

[2016-11-29 17:42] ChrisMaddock commented on #2
@JasonBock - did you fix this too, or is something odd going on? The error no longer shows on my new build of master

[2016-11-29 17:46] JasonBock commented on #2
@ChrisMaddock Um....no....I'm still seeing the original behavior I wrote, which is to say, if you're expecting a `double` and you give an `int`, you'll get an error.

[2016-11-29 17:47] ChrisMaddock commented on #3
I still see this one - although I'm not sure if there's some sort of cache I should be clearing out?

I'll try and create something reproducible later in the week

[2016-11-29 17:49] ChrisMaddock commented on #2
Odd - that exact test is no longer showing the error. Maybe there's some cache weirdness going on...

[2016-11-29 19:07] JasonBock commented on #2
@ChrisMaddock Could you include a screen shot? Also, look at the error list with warnings, maybe something is failing that I didn't anticipate.

[2016-11-29 19:29] JasonBock commented on #3
Yeah....I'm wondering if you're really not deploying the latest bits. Not sure....

(Side note, I need to update the version number just so it's obvious that the changes have been deployed)

[2016-11-30 15:15] JasonBock commented on #2
@ChrisMaddock Dug a bit deeper into the source code, and it seems like `PerformSpecialConversion` is what I need to look at:

https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Attributes/TestCaseAttribute.cs#L363

Though I have to be careful here in that if `Convert.ChangeType` fails, I have to catch the exceptions for each argument so I can get information for each argument.

[2016-12-01 22:20] JasonBock commented on #2
I think I got the code done for mimicking what NUnit does at runtime. Need to get tests around it :)

[2016-12-02 09:53] ChrisMaddock commented on #2
Sounds good @JasonBock! Sorry I haven't got back to these issues...been a busy week. Will try and do so sometime soon. 😄

[2016-12-16 23:37] JasonBock commented on #2
I just updated the code so that I think it follows what NUnit does at runtime. @ChrisMaddock or anyone else, if you could give this a try, let me know if I've missed any cases or the implementation is whacked - thanks!

[2016-12-16 23:44] JasonBock opened #6 "Do Not Allow Any Assertions to be Used in TearDown"
# Description
Based on discussion from here: https://github.com/nunit/docs/issues/149
If a method is marked with `[TearDown]`, no assertion calls from the `Assert` class should be allowed.
# Example
[code]
# Analyzer Message
"No methods from the Assert class may be used in a [TearDown] method"
# Default Severity Level
Error
# Code Fixes
none

[2016-12-18 00:42] ChrisMaddock commented on #2
Sorry @JasonBock, did mean to get back to these! Busy weekend, but will try and take a look next week.

[2016-12-19 13:11] ChrisMaddock commented on #2
@JasonBock - can you run me through how you test these?

Before I was trying with existing libraries, but getting a number of errors, although they could have been due to mismatched framework versions. So instead, I thought I'd use your 'playground' in the solution - although when I add the analyzers to that project, I get the below errors.

Any ideas what I'm missing? This is VS 2015.

![image](h

[2016-12-19 15:40] JasonBock commented on #2
@ChrisMaddock I really don't know why you're getting those errors. I basically do two things to test the analyzers:

* I write unit tests
* I run the VSIX project, which launches another version of VS with the analyzers installed as an extension

I've tried installing the analyzers from the NuGet file from another project and that does work locally with no issues, so....I'm not sure what to tell y

[2016-12-19 15:46] ChrisMaddock commented on #2
@JasonBock - I was adding a reference to the nunit.analyzer.dll. Using a debug instance sounds much more reliable - I'll test with that - deployment will hopefully 'just work' when we get to it! 😄

[2016-12-19 15:47] JasonBock commented on #2
@ChrisMaddock  OHHHH.....huh, I have never done that :). Typically I get analyzers either a NuGet package (which will install the analyzers correctly) or as a VSIX. Note that you don't have to do a "debug" build to do this - it can be "release" :).

[2017-01-25 10:14] mariusGundersen opened #7 "Feature request: Look for async void tests"
Since it's not allowed to have `async void` tests, there should be an analyzer that looks for these tests and autofixes them to be `async Task`.

[2017-01-25 15:09] JasonBock commented on #7
In general an `async` method should never return `void` unless it's handling an event from the UI. So....would be nice if an analyzer was written for the general case and not just for unit tests.

[2017-01-27 22:33] ChrisMaddock commented on #2
Sorry @JasonBock - I've been rubbish with these issues. This looks to be fixed - nice one. 😄

[2017-01-27 22:33] #2 closed

[2017-01-27 22:38] ChrisMaddock opened #8 "TestCaseUsageAnalyzer throws NullReferenceException for non-existent attribute"
The TestCaseUsageAnalyzer throws a NullReferenceException for any attribute which doesn't exist. I found this out as I stopped for long enough through the word `TestCase` for the analyzer to kick in and try and find a `TestC` attribute!

I'm not sure this 'breaks' anything as such, but it does fill up my errors window. Unfortunately, the warnings don't clear once you type the rest of the attribute

[2017-01-27 22:43] ChrisMaddock commented on #8
Just found I have the same issue with the ClassicModelAssertUsageAnalyzer - e.g. for `Assert.AreEqual("hey");` and `Assert.AreEqual("hey", MyHalfFinishedStrin);``.  I assume they're the same fix if not same issue, here's a sample stacktrace for the other.

[code]

[2017-02-07 14:52] JasonBock commented on #8
OK, I'll take a look at them.

[2017-02-07 14:54] JasonBock commented on #3
@ChrisMaddock it's been a while....have you verified that this bug has been fixed?

[2017-02-07 15:10] ChrisMaddock commented on #3
Sorry, my fault.

I tried, but this occurred in a larger test library referencing other tests libraries and it was difficult to pull the analyser in in a clean build, to see it again. I tried to create a minimal example post-fix, but wasn't able to recreate.

I'll close it - if it isn't fixed, then it must be pretty niche, and I can check again once there's a distribution. 😄

[2017-02-07 15:10] #3 closed

[2017-05-18 22:13] rprouse opened #9 "Add Roslyn Code Analyzers for NUnit"
@rprouse commented on [Mon May 04 2015](https://github.com/nunit/nunit/issues/629)

Visual Studio 2015 and Roslyn introduced code analyzers and the concept of code-aware libraries. There are many ways that users can incorrectly use NUnit, so we could provide analyzers to detect incorrect usage and suggest fixes. This would help users become more productive and reduce the number of errors reported

[2017-11-10 09:25] 304NotModified opened #10 "Is this package on NuGet?"
I can't find it

[2017-11-10 13:11] rprouse commented on #10
This project hasn't been released yet and progress has stalled a bit.

[2017-11-13 16:42] SamJongenelen commented on #10
I would love to have these w/o having to build it (like xUnit does)

Might it be stable enough for a nuget pre release version?

[2017-11-13 16:54] jnm2 commented on #10
I wish I could reference `NUnit` and have the analyzers on by default unless turned off, but that would require bundling the build output of this repository in the `NUnit` package under `/analyzers` or else adding a package dependency on a package published by this repo. I really like the paradigm where the analyzers come out of the box with the API.

[2017-11-13 22:37] mikkelbu commented on #10
@SamJongenelen I don't think that the analyzers are stable enough. I just tried to compile them and opening some different files, and I got several NREs thrown.

[2017-11-13 22:42] CharliePoole commented on #10
Hmm... We accepted this project provisionally as experimental. But can a user see that status anywhere?

[2017-12-05 18:26] mikkelbu opened #11 "NRE in AnalyzePositionalArgumentsAndParameters"
In the method `TestCaseUsageAnalyzer.AnalyzePositionalArgumentsAndParameters` there is the assumption that all expressions in the attribute has type `LiteralExpressionSyntax`. This is not always the case. The assumption fails in e.g. nunit.nunit\src\NUnitFramework\tests\Constraints\MsgUtilTests.cs, where we have the constant `s52` which hence has type `IdentifierNameSyntax`.

[code]

[2017-12-05 18:40] mikkelbu opened #12 "NRE in ClassicModelAssertUsageAnalyzer.AnalyzeInvocation"
The method ClassicModelAssertUsageAnalyzer.AnalyzeInvocation can fail with a NRE, since `invocationSymbol` can be `null`. The problem is that the type of `context.SemanticModel.GetSymbolInfo(invocationNode.Expression).Symbol` is `SourceSimpleParameterSymbol` and not `IMethodSymbol`. The problem can be seen by opening the file `nunit.nunit\src\NUnitFramework\tests\Constraints\MsgUtilTests.cs` (in t

[2017-12-05 19:42] mikkelbu opened #13 ""Sequence contains no elements" in ClassicModelAssertUsageAnalyzer.AnalyzeInvocation"
The code has the assumption that every `InvocationExpression` is inside a `MethodDeclarationSyntax`. This is not the case for nunit.nunit\src\NUnitFramework\tests\Api\FrameworkControllerTests.cs that has invocations as part of of a field assignment
[code]
So the code fails with an `System.InvalidOperationException` - "Sequence contains no elements" - in
[code]

[2017-12-07 16:32] jnm2 commented on #13
I have a feeling that any time an analyzer uses `Single`, `SingleOrDefault` or `FirstOrDefault`, or misses a null check, it's probably being naive. 😃

[2017-12-07 22:23] mikkelbu opened #14 "NRE in AttributeArgumentSyntaxExtensions.CanAssignTo"
`AttributeArgumentSyntaxExtensions.CanAssignTo` fails in the test (from nunit.nunit\src\NUnitFramework\tests\Attributes\TestCaseAttributeTests.cs)
[code]
The problem is that `@this.Expression as LiteralExpressionSyntax` evaluates to `null` since the type of `@this.Expression` is `ImplicitArrayCreationExpressionSyntax` (the syntax is `new []{"x", "b", "c"}`).

[2018-01-17 22:22] mikkelbu opened #16 "Make the extension work with VS 2017"
Probably by following the description in https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-roundtrip-vsixs

Remember to update documentation about building

[2018-01-17 22:28] mikkelbu opened #17 "ADD CI support for master and PRs"
Probably using appveyor and cake. To begin with we will first focus on the build and testing part. A later issue will add package functionality.

[2018-01-18 02:24] CharliePoole commented on #16
Have you considered going the nuget-only route?

[2018-01-18 13:21] jnm2 commented on #16
@mikkelbu I found the built-in NuGet + VSIX analyzer template quite finicky and followed the guide for setting up my own from scratch to get away from packages.config. (https://roslyn-analyzers.readthedocs.io/en/latest/how-to-start.html#the-pro-way) It provides the flexibility I've come to demand from the new csproj format. If this sounds interesting, here's what it looks like in one of my analyze

[2018-01-18 13:27] jnm2 commented on #16
Oh wait, that's not the best example because I haven't packed it yet. Comparing one of the analyzer projects at work, this is what the analyzer csproj would like like when ready for use with `/t:Pack`:

[code]

[2018-01-18 14:38] ChrisMaddock commented on #16
@mikkelbu - this may be interesting for your decision:

https://github.com/wachulski/nunit-migrator/issues/19

[2018-03-06 23:56] #8 closed

[2018-03-06 23:57] mikkelbu commented on #14
Closed by #15

[2018-03-06 23:57] #14 closed

[2018-03-10 19:01] mikkelbu opened #18 "Add CONTRIBUTING.md"
Add document describing the contribution guidelines.

[2018-03-15 07:52] JohanLarsson opened #20 "Add StyleCop.Analyzers & fix warnings?"
Hi,
I find https://www.nuget.org/packages/StyleCop.Analyzers nice for open source projects.
I can add it and fix the warnings in a PR if you want it.

[2018-03-15 07:57] JohanLarsson opened #21 "Remove dependency on NUnit for analyzer project."
Better to use strings here.

[2018-03-15 07:59] JohanLarsson opened #22 "Add editorconfig"
Depending on #20

[2018-03-16 15:10] JohanLarsson commented on #10
I wrote a couple of analyzers for NUnit in [this](https://www.nuget.org/packages/Gu.Analyzers/) nuget. Took
 about an hour, you can use them until this package is released.

[2018-03-21 07:49] mikkelbu opened #27 "Update README.md"
We should at least do the following:
* Add badges to build status
* Link to "Code of Conduct"
* Update section "Building"
* Link to "Contributing"
* An image to make the presentation nicer
* Perhaps a "Downloads" section with link to myget (when we have nuget functionality)

[2018-03-23 07:41] mikkelbu opened #28 "NRE when writing an attribute before adding a reference to NUnit"
The following code makes the analyzer throw NRE if one has not added a reference to NUnit.

[code]

The method should probably just return if `testCaseType` is `null`.

Exception
[code]

[2018-03-23 20:52] #17 closed

[2018-03-23 20:58] mikkelbu opened #30 "Refine cake configuration"
In #17 we added the initial cake configuration. But we took some shortcuts:
* The Clean target was commented out
* Some of the paths could be more refined and less hardcoded

[2018-03-27 07:18] #22 closed

[2018-03-27 15:38] #30 closed

[2018-03-27 21:49] mikkelbu opened #33 "Add information to CONTRIBUTING.md"

[2018-03-29 21:09] #16 closed

[2018-03-31 17:51] mikkelbu opened #36 "Make Pack work"
Extend the cake script to be able to perform package of a nuget package.

[2018-03-31 17:53] mikkelbu opened #37 "Add myget feed to tooling"
Appveyor should upload the different builds (master and PRs) to myget. Is waiting on #36 for enabling package of nuget packes.

Probably we also need to represent the version as currently Appveyor is at version 1 (+ the build number).

[2018-04-02 13:10] Dreamescaper opened #39 "Warning if actual type does not match expected type"
Currently there's no type checks for actual and expected results, so it's quite a common mistake (at least for me), which an analyzer could help to avoid.

Basic case:
`Assert.That(arg1, Is.EqualTo(arg2))`
arg1 and arg2 should be of same type (at runtime).
From analyzer point of view the easiest way, I believe, is to check ClassifyConversion between typeSymbols.
Exceptions: between number types (e

[2018-04-02 13:14] Dreamescaper opened #40 "Warning if literal or const value is provided as actual value"
In most cases (actually can't figure out when it should actually be otherwise) const value shouldn't be provided as actual value to assert.
However it can often happen when `actual` and `expected` parameter are mixed places.
That mostly applies to classic assertion model, but might be helpful for constraint model as well.

[2018-05-15 21:19] mikkelbu commented on #28
Closed with 741196c.

[2018-05-15 21:19] #28 closed

[2018-05-26 23:55] 304NotModified commented on #27
I don't see a myget link?

[2018-05-28 18:15] mikkelbu commented on #27
@304NotModified We don't have a myget link yet (or even a nuget package). I've busy with my family, on other projects, and on my day work, so I've not been working on #37 yet. But hopefully soon I'll have time :)

[2018-05-28 18:50] 304NotModified commented on #27
@mikkelbu I could help setting up the NuGet packages. IMO it the best to publish pre-releases regular on nuget.org, to get early feedback. We could setup AppVeyor that new versions are easily pushed to nuget.org. Does that sound OK?

I could set-up the build script (well maybe not this week). I need an encrypted nuget token in (see NLog, e.g. https://github.com/NLog/NLog/blob/da80ba0faee9ffaf832fd

[2018-05-28 20:29] mikkelbu commented on #27
@304NotModified The plan was - at least to begin with - more or less mimic the other NUnit projects and use myget for the unofficial releases (especially here in the beginning when we don't have a proper release). I think I'll try it out myself (mostly as a learning experience), but I'll definitely ask for help if I get stuck 😄

[2018-05-28 20:53] 304NotModified commented on #27
sure, any way, maybe this could help you with the first steps: https://github.com/nunit/nunit.analyzers/pull/43

[2018-05-28 20:55] 304NotModified commented on #36
fixed in #43

[2018-05-29 06:53] mikkelbu commented on #27
Thanks @304NotModified 😄. I was considering going directly for MsBuild + Pack target as @jnm2 suggested in https://github.com/nunit/nunit.analyzers/issues/16#issuecomment-358645894, but I think that I'll accept the PR and then we can always later on change the approach if we feel for it. The most important point now is just to get something out there for people to try out (and report bugs and impr

[2018-06-01 21:23] 304NotModified commented on #36
@mikkelbu This can be closed :)

[2018-06-04 17:48] mikkelbu commented on #36
@304NotModified Thanks for reminding me 😄 .

[2018-06-04 17:48] #36 closed

[2018-06-11 22:27] #37 closed

[2018-06-11 22:32] mikkelbu commented on #37
The feed can be found at https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers

[2018-06-11 22:49] mikkelbu commented on #18
File has been added, and this issue is closed as a duplicate of #33.

[2018-06-11 22:49] #18 closed

[2018-06-11 22:59] mikkelbu commented on #10
And now the nuget package can be found on MyGet, https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers.

[2018-06-11 22:59] #10 closed

[2018-06-11 23:00] mikkelbu commented on #27
Add note in the readme about the status of the project (inspiration from https://github.com/nunit/nunit.analyzers/issues/10#issuecomment-344084045)

[2018-06-12 18:49] mikkelbu opened #47 "Examine concurrent execution af analyzers"
Links for inspiration
* https://github.com/dotnet/roslyn/issues/6737#issuecomment-206623629 (for links to announcement)
* https://docs.microsoft.com/en-gb/visualstudio/releasenotes/vs2015-update2-vs
* https://github.com/xunit/xunit.analyzers/pull/76
* https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2102/files

[2018-06-12 20:54] mikkelbu commented on #7
Examples
[code]
and
[code]
These are not runnable with the following error `Message: Async test method must have non-void return type`.

[2018-06-12 21:00] mikkelbu opened #48 "Async test method must have non-generic Task return type when no result is expected"
We should warn about the following problem

**Message: Async test method must have non-generic Task return type when no result is expected**
[code]
and
[code]
and
**

[2018-06-12 21:02] mikkelbu opened #49 "Message: Async test method must have Task<T> return type when a result is expected"
We should warn about the following problem.

**Message: Async test method must have Task\<T\> return type when a result is expected**
[code]
and
[code]

[2018-06-12 21:07] mikkelbu opened #50 "Remove false positive from ExpectedResult when used in connection with async tests"
The following tests are correct, but the analyzer gives the following warning: **The ExpectedResult value cannot be assigned to the return type, Task`1**.

[code]
and
[code]

[2018-06-12 21:09] mikkelbu opened #51 "Async tests and analyzers"
Epic for issues related to async tests

[2018-06-13 17:23] mikkelbu opened #52 "Reuse TestCaseAttribute logic for ValuesAttribute"
We should reuse the logic for testing whether the value of a `TestCaseAttribute` matches the argument of the test method to also have effect for `ValuesAttribute`. The following will currently give an analyzer error on `"a"`.

[code]
But for the following there are no analyzer errors
[code]

[2018-06-13 18:44] mikkelbu opened #53 "Analyzer for TestCaseAttribute should also work for generic TestFixtures"
The analyzer should also handle the following (from \nunit\src\NUnitFramework\tests\Internal\TypeParameterUsedWithTestMethod.cs). Currently, it gives a warning `The value of the argument at position 0 cannot be assigned to the argument x`.

[code]

[2018-06-13 18:52] mikkelbu opened #54 "Analyzer for TestCaseAttribute should also work for generic TestCases"
The analyzer should also handle the following (from nunit\src\NUnitFramework\tests\Attributes\TestCaseAttributeTests.cs). Currently, it gives a warning for `1`, `The value of the argument at position 0 cannot be assigned to the argument arg1` and for the `ExpectedResult`, `The ExpectedResult value cannot be assigned to the return type, T`.

[code]

[2018-06-13 18:54] mikkelbu opened #55 "Analyzer for TestCaseAttribute should also work for nullable types"
The analyzer should also handle the following (from nunit\src\NUnitFramework\tests\Attributes\TestCaseAttributeTests.cs). Currently, it gives a warning `The value of the argument at position 0 cannot be assigned to the argument x`.

[code]

[2018-06-13 18:57] mikkelbu opened #56 "Analyzer for TestCaseAttribute should work when passed 1 to 3 arguments"
The analyzer should also handle the following (from nunit\src\NUnitFramework\tests\Attributes\TestCaseAttributeTests.cs). Currently, it gives a warning `There are too many arguments provided from test TestCaseAttribute for the method`.

[code]

[2018-06-13 19:02] mikkelbu opened #57 "Make conversions work in netcoreapp2.0"
The analyzer should also handle the following (from nunit\src\NUnitFramework\tests\Attributes\TestCaseAttributeTests.cs). Currently, it gives a warnings for the parameters `The value of the argument at position 0 cannot be assigned to the argument x` (and similar for position `1` and `y` and for the `ExpectedResult`, `The ExpectedResult value cannot be assigned to the return type, ___`.

Note that

[2018-06-13 19:17] mikkelbu opened #58 "Analyzer for TestCaseAttribute should also work for generic TestCases with deduced types"
The analyzer should also handle the following (from nunit\src\NUnitFramework\tests\Internal\DeduceTypeArgsFromArgs.cs). Currently, it gives a warning for `5`, `The value of the argument at position 0 cannot be assigned to the argument t1` and similar for the second argument.

[code]

[2018-06-13 19:18] mikkelbu opened #59 "Generic tests and analyzers"

[2018-06-13 19:40] mikkelbu commented on #11
It also fails in the following cases:
* When the argument is a negative number `-4` => `PrefixUnaryExpressionSyntax`.
* When the argument is a cast => `CastExpressionSyntax?

[2018-06-14 21:12] #11 closed

[2018-06-17 17:46] #13 closed

[2018-06-17 20:54] mikkelbu commented on #12
This was also solved by #15.

[2018-06-17 20:54] #12 closed

[2018-06-18 19:10] JasonBock opened #64 "Add an Analyzer to Verify ParallelScope Usage"
According to [this doc](https://github.com/nunit/docs/wiki/Parallelizable-Attribute), values of `ParallelScope` are only valid based on what member the `Parallelizable` is being used on. For example, `ParalleScope.Children` cannot be used on methods. Writing an analyzer to inform the developer of improper value usage would be a nice thing to have.

Edit by mikkelbu: Corrected link.

[2018-06-25 17:54] #33 closed

[2018-06-30 14:38] mikkelbu commented on #64
See [the documentation](https://github.com/nunit/docs/wiki/Parallelizable-Attribute) for more information.

[2018-06-30 15:46] jnm2 commented on #47
I usually flip this on by default. @JohanLarsson would know better than me, but I think that you're fine so long as you don't use static state or analyzer instance state from inside analysis callbacks without making it thread-safe.

[2018-06-30 16:46] jnm2 commented on #49
I'd say "Must return a type which produces a result when awaited" when I finish support for ValueTask etc.

[2018-07-02 23:32] mikkelbu commented on #49
Or to be precise - and stealing from the [documentation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/async-return-types), since I have not used async (and especially ValueTask) a lot - "must return a type that has an accessible `GetAwaiter` method. The object returned by the `GetAwaiter` method must implement the `System.Runtime.CompilerServices.ICriticalNotifyC

[2018-07-02 23:34] jnm2 commented on #49
@mikkelbu You might want to say something about the type producing a result when awaited though. That description would also fit the non-generic `Task`.

[2018-07-02 23:50] mikkelbu commented on #49
@jnm2 You are right. Can one always assume that any type except for the non-generic `Task` which satisfies the above sentence will return a result - or how do one check this?

[2018-07-03 00:18] jnm2 commented on #49
@mikkelbu The result type of the await expression is always the return type of `.GetAwaiter().GetResult()`. It's void if there is no result.

https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/expressions#awaitable-expressions

[2018-08-15 21:59] #55 closed

[2018-08-18 21:02] #57 closed

[2018-08-19 22:07] 304NotModified opened #70 "Simplify test in this project"
Hi,

I was trying to add a new fix + test, but IMO adding a testcase in this project is pretty complicated

In my opinion:

1. The test classes names are really too long
![image](https://user-images.githubusercontent.com/5808377/44313662-a8999380-a40c-11e8-8b10-8650e24aa1f4.png)

1. The tests in `TestCaseUsageAnalyzerTests` are using to much `nameof`
1. The `BasePath` in `TestCaseUsageAnalyzerTest

[2018-08-21 20:11] mikkelbu commented on #70
Hi @304NotModified
I wholeheartedly agree that the tests are too difficult to read, both due to the technical details, but also since the data and the assertions are separated into separate files.

I don't know the original reason for this, but I much prefer the solutions chosen in other roslyn-projects  where the data is just strings inside the test. Of cause one loses the intellisense, but this

[2018-08-21 21:08] 304NotModified commented on #70
Hi @mikkelbu

Thanks for your reaction.

I do agree that strings are better, but I think there could be some improvement with the current approach (splitted testcases from tests).

If you like, I will try to refactor a bit so it's more readable.

[2018-08-21 21:40] 304NotModified commented on #70
made #73, please give your opinion :)

[2018-08-22 08:19] JohanLarsson commented on #70
@304NotModified using Gu.Roslyn.Asserts tests look like [this](https://github.com/GuOrg/Gu.Analyzers/blob/master/Gu.Analyzers.Test/GU0082IdenticalTestCaseTests/Diagnostics.cs#L13-L31):

[code]

[2018-08-22 13:51] 304NotModified commented on #70
I think this also neat, and it's easier to work with compared to strings:

in #73

[code]

[2018-08-23 22:33] mikkelbu commented on #7
Hi @304NotModified
When I added the milestone to this issue (and the other async-issues) this Sunday I also started working on #48 and created a new analyzer for all the async checks.

Currently, I've only made the skeleton, as this week has been quite busy. But I think that we can move most of the logic in #69 to that class when I get it pushed - hopefully, this weekend or in the beginning of nex

[2018-08-23 22:35] mikkelbu commented on #70
Hi both
I've been quite busy the last week, hence the silence. But I hope that I'll have time to look into this issue during the weekend or in the beginning of next week.

[2018-09-09 21:40] mikkelbu opened #75 "Add error if tests/testcases have a return value, but no ExpectedResult"
If tests/testcases have a return value, but no `ExpectedResult` then it fail with the message
"Message: Method has non-void return value, but no result is expected". We should handle this.

[code]

[2018-09-15 10:53] JohanLarsson opened #77 "Analyzer: warn on Console.WriteLine in tests."
Happens that things are dumped when debugging tests and then forgotten. Reasons to remove:
1. They slow down tests.
2. Pollute CI logs.

[2018-09-19 21:17] mikkelbu commented on #77
Sounds reasonable.

[2018-09-23 23:08] jnm2 opened #78 "Warn if timeout is used with a parallelizable test"
Had the idea after reading https://github.com/nunit/nunit/commit/6be37033ea65f15bd7267aa841a1abb47f6353da#commitcomment-30439403.

If TimeoutAttribute is used on a test that is allowed to run in parallel, it can exacerbate the unreliable nature of timing-based tests when the CPU is under load. What do you think?

[2018-09-24 20:33] mikkelbu commented on #78
Sounds like a good idea. I haven't used parallel execution of tests much, so I'm a bit on unknown territory, but it seems that one can figure out if an assembly, testfixture, or test is a candidate to be run in parallel by examine the `Parallelizable` and `NonParallelizable` attributes (and innermost attribute wins).

Perhaps it will be possible to share parts of the implementation with with #64.

[2018-10-03 12:00] chinwobble opened #79 "NUNIT_7 does not cater for Task and ValueTask"
The NUNIT_7 currently returns an error

[code]

need to cater for async methods. Analyser needs to check for Task<int> and ValueTask<int> in this case.

Would you accept a PR to fix this?

[2018-10-03 14:06] mikkelbu commented on #79
Hi @chinwobble
Isn't this a duplicate of #50? With respect to the PR offer then I think it makes sense to wait for #76, as the problem about `ExpectedResult` and async exists both for `TestCaseAttribute` and for `TestAttribute`, and perhaps we should also for #69, as #69 will make changes in the same area of the code.

I think I'll merge #76 tonight and then see if we can get @304NotModified work

[2018-10-04 12:17] 304NotModified commented on #79
That's OK with me. But not sure if I have time for this week

[2018-11-19 21:38] aolszowka opened #80 "Suggestion: Analyzer Should Fix TestCaseSource(string) usage to use nameof()"
Thank you for this tool.

We have several Test Cases that look similar to this:

[code]

These were written before the introduction of [nameof()](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/nameof) and if they were to be re-written today would look like this:

[code]

This way Intellisense would operate correctly (F12/Renaming/Find Usages/etc).

I realize that you wo

[2018-11-20 08:36] mikkelbu commented on #80
Hi @aolszowka
I think that it is a great improvement (as far as I can remember Resharper already has some similar logic to allow you to navigate from the string to the method). I don't worry about the VS 2015 too much as people can you decide not to enable this functionality if they cannot use it.

[2018-11-27 18:55] aolszowka opened #81 "Suggestion: Analzyer Should Identify Duplicated TestNames"
Consider the following example:

[code]

This will cause the NUnit Adapter (as of 3.11.2.0) to throw a warning to alert you that this test will not be added to the Test Window.

[code]

It would be desirable to have this Analyzer alert you of this possibility.

There are other scenarios in which you can encounter this same behavior such as:

[code]

Which will also yield a similar warning

[code]

[2018-11-28 01:52] aolszowka commented on #81
Anyone looking to implement this should also be aware of this new NUnit ability https://github.com/nunit/docs/wiki/Generation-of-Test-Names-Spec This means these cases also apply:

[code]

Although using the NUnit runner produced interesting results that might be worth a separate issue report:

[code]

However it did show up in the runner (with the name `{m} Test1`) but was unrunnable.

Here is an

[2018-11-28 02:06] aolszowka commented on #81
Test Names are also not allowed to be duplicated within the Class:

[code]

[code]

They are however allowed to be duplicated across classes:

[code]

[2018-11-30 11:16] mikkelbu commented on #81
Sure. This project has been dormant for a while, as I've been busy in other places - mostly in IRL, but I'll try to get this project back on the track.

[2018-11-30 15:28] aolszowka commented on #80
I am going to take a stab at this today.

[2018-12-06 19:35] aolszowka commented on #80
I am stalled on the fixer; any chance we could at least get the Analyzer reviewed and merged in? Would be a good starting point for anyone with the skills to write the fix.

[2018-12-08 18:56] #80 closed

[2018-12-11 14:31] aolszowka opened #83 "NUNIT_7 Throws Unexpectedly On Integer to Decimal Conversions"
This may be a duplicate of #50

Consider the following Test Program

[code]

Part of the problem is related to the fact that you cannot send a decimal in an attribute (see https://github.com/dotnet/roslyn/issues/16898) therefore our Unit Tests were always written to use an Integer constant.

I would not expect NUNIT_7 to throw on the first test case (AssertNegativeDecimal) because it does not thro

[2018-12-11 19:37] mikkelbu commented on #83
Thanks for the report @aolszowka. It is definitely a bug, but it is not a duplicate of #50 (which is about the return type of methods and async).

The problem is that the logic for extracting the value of the attribute only handles `LiteralExpressionSyntax` (like string and integer literals):
https://github.com/nunit/nunit.analyzers/blob/23cc5b9c9175425d301bed8d99a256a7116574b2/src/nunit.analyzers

[2018-12-16 18:44] mikkelbu opened #84 "Partition the analyzers into categories and create identifier ranges for each category"
Currently, the analyzer identifiers are just consecutively numbered with no meaning behind a given number. Instead we should create ranges for each area of analyzers and reassign the identifiers - similar to what most other analyzer projects do.

**Tasks:**
* Partition the existing analyzers into groups (and perhaps also take into account the existing open issues)
* Create a range of identifiers f

[2018-12-17 21:49] mikkelbu opened #89 "Test the correct usage of the Range attribute"
Avoid the problems with 0 as step and Overflow exceptions.

See the discussion in nunit/nunit#472 (note that the code has changed recently, but we should still capture this compile-time instead of run-time.

[2018-12-17 21:52] mikkelbu opened #90 "Check that checks against null is done on reference types"
Check that for `Assert.That(x, Is.Not.Null)` and variants, that `x` is a reference type.

This should probably just be a warning and not an error.

[2018-12-17 21:54] mikkelbu opened #91 "Check for usage of TestCaseSource within a parametrized testfixture"
We should warn about problems with TestCaseSource within parametrized textfixture.

See nunit/nunit#320 for more context.

[2018-12-17 21:56] mikkelbu commented on #9
Closing this as all the possible cases mentioned in this thread are covered by: #4, #64, #89, #90, and #91.

[2018-12-17 21:56] #9 closed

[2018-12-18 19:06] mikkelbu opened #92 "Analyzer to ensure that the "target" of TestCaseSourceAttribute exists and is static"
The target of `TestCaseSourceAttribute` should refer to a static field, property or method.

In a subsequent task we can extend this with more of the requirements from https://github.com/nunit/docs/wiki/TestCaseSource-Attribute

For example

[2018-12-18 19:10] mikkelbu opened #93 "Analyzer to ensure that the "target" of ValueSourceAttribute exists and is static"
The target of `ValueSourceAttribute` should refer to a static field, property or method.

Much of the logic can probably be shared with #92.

In a subsequent task we can extend this with more of the requirements from https://github.com/nunit/docs/wiki/ValueSource-Attribute

For example

[2018-12-18 20:02] #75 closed

[2018-12-19 14:31] mikkelbu commented on #83
Instead of going via `LiteralExpressionSyntax` we should probably use `SemanticModel.GetConstantValue` to extract the constant value (and since we are in the constructor of an attribute `this.Expression` must be a constant value).

[2018-12-19 19:21] #83 closed

[2018-12-19 19:53] aolszowka commented on #84
I like the idea of doing like NUAxxxx (NUnit Analayzer)

I really like StyleCop which has given "ranges" to their identifiers: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/DOCUMENTATION.md

Another place for improvement is making our documentation similar to StyleCop's like this: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1400.md the reason

[2018-12-21 07:41] mikkelbu commented on #51
Replace zenhub epics with github projects.

[2018-12-21 07:41] #51 closed

[2018-12-21 07:46] mikkelbu commented on #59
Replace zenhub epics with github projects.

[2018-12-21 07:46] #59 closed

[2018-12-21 12:11] mikkelbu opened #96 "Document implemented analyzers and fixers"
We can probably get inspiration from the other projects:
* https://dotnetanalyzers.github.io/StyleCopAnalyzers/
* https://xunit.github.io/xunit.analyzers/rules/
* https://github.com/DotNetAnalyzers/ReflectionAnalyzers
* https://github.com/GuOrg/Gu.Analyzers

To begin with we should just keep it simple. Then later we can improve on UI and automation

[2018-12-21 17:02] JohanLarsson commented on #96
I use a nasty hack for docs: https://github.com/DotNetAnalyzers/AspNetCoreAnalyzers/blob/master/AspNetCoreAnalyzers.Tests/Documentation/Tests.cs

A couple of tests that check that docs exists and generate stub docs if missing. Not pretty but have found it good enough.

[2018-12-21 17:45] mikkelbu commented on #96
Thanks for the link, at least it could be useful in the beginning.

[2018-12-21 17:46] JohanLarsson commented on #96
I can PR it if you want it like that.

[2018-12-28 21:21] #64 closed

[2018-12-29 20:40] #56 closed

[2019-01-02 14:20] mikkelbu opened #100 "Add analyzer for TheoryAttribute usage"
The analyzer should verify:
* That tests are only marked with `Theory` if they accept one or more arguments
* For each argument in the method one or more of the following sentences should be true:
  * The argument is either a boolean or an enum. Or a nullable variant thereof.
  * The argument is specified using a `DatapointAttribute`.
  * The argument is specified using a `DatapointSourceAttribute

[2019-01-02 21:27] mikkelbu opened #102 "Remove nunit.analyzers.integrationtests and nunit.analyzers.playground projects"
Currently, we don't use the `nunit.analyzers.integrationtests` and `nunit.analyzers.playground` projects, so I think we should remove them (`nunit.analyzers.integrationtests` are not even part of the solution).

The only things that perhaps should be moved from integrationtests are tests of functionality when we use "using static directive" (`using static NUnit.Framework.Assert;`) or aliasing (`us

[2019-01-14 21:40] #70 closed

[2019-01-14 22:28] mikkelbu opened #106 "Add fixer for the TestCaseSource(StringConstant) analyzer"
In  #82 we added an analyzer for `TestCaseSource(StringConstant)`, but the fixer was left out. The fixer should change the code such that the string constant is replaced by an application of the the `nameof` operator. E.g. changing
[code]
into
[code]

Remember to add tests of the functionality.

[2019-01-15 12:52] JohanLarsson opened #108 "Check if TestCaseSource(StringLiteralExpression) has no matching member."
[code]

[2019-01-16 07:32] JohanLarsson commented on #92
This will be only four lines of code + tests if #107 is merged, waiting with it until we have a decision there.

[2019-01-16 07:49] mikkelbu commented on #92
Not "if", but "when" 😄.

[2019-01-18 20:33] #106 closed

[2019-01-19 08:38] JohanLarsson opened #110 "Refactoring suggestion for managing diagnostic metadata."
I have found it to be nice to have classes like:

[code]

Reasons I like it is:
- We group constants that belong together.
- Enables easy scanning of what rule id's we use.

I'm not married to this idea, just thought I'd write an issue about it and see what you think.

[2019-01-21 22:01] #92 closed

[2019-02-17 07:23] JohanLarsson opened #112 "Check if test does not have assert(s)."
For catching mistakes like:

[code]

Perhaps very common.

Don't warn if `[Ignore]` or `[Explicit]`

[2019-02-18 00:38] Dreamescaper commented on #112
Not sure is possible.
Asserts might be present somewhere in user code, not nessesary directly in test method.
Besides, external assertion libs (e.g. FluentAssertions) would be a pain as well, I suppose

[2019-02-27 22:58] jnm2 commented on #112
I use Shouldly a lot these days, so this would be every test method for me.
Maybe an opt-in diagnostic would make sense?

[2019-02-28 10:22] JohanLarsson commented on #112
The usefulness is perhaps negative, not a common bug. We had a guy who had a habit for commenting out  the body of test methods or asserts that were troublesome 🙂

[2019-02-28 12:16] jnm2 commented on #112
Empty test method bodies sound like a good thing to warn for. What do you think?

[2019-03-01 07:48] JohanLarsson commented on #112
Yes it is a trivial analyzer with nonzero value.

[2019-03-02 01:49] jnm2 opened #113 "Detect scenarios where expected and actual are switched"
For example, if the `actual` argument to `Assert.AreEqual` is constant?

https://github.com/nunit/nunit/pull/3172#discussion_r261806723

[2019-03-02 10:11] mikkelbu commented on #113
This could be done together with - or as part of - #40.

[2019-03-04 15:16] jnm2 commented on #113
Oh, #40 is what I was trying to find! This sounded familiar. Okay for me to close as covered by #40?

[2019-03-10 18:40] mikkelbu commented on #113
Closed as a duplicate of #40.

[2019-03-10 18:40] #113 closed

[2019-03-11 18:22] #40 closed

[2019-03-11 20:09] #47 closed

[2019-03-11 20:51] mikkelbu opened #116 "Fix licenseUrl element in nuspec, will be deprecated"
Warning when generating nuget packages. See e.g. https://ci.appveyor.com/project/mikkelbu/nunit-analyzers/builds/22992094
[code]

[2019-03-20 16:00] rprouse opened #118 "Async Tests display warning about missing Expected"
This test,

[code]

Shows a warning for each `TestCase`

[code]

[2019-03-20 16:06] rprouse opened #119 "Cannot create Analyzer classes in Visual Studio 2019 RC 3"
Loading the latest version of the Analyzers shows the following errors in Visual Studio 2019 RC 3

[code]

Is the third one causing #118?

[2019-03-20 19:56] mikkelbu commented on #118
I don't think that this is related to #119, but due to the fact that we currently do not handle async tests very well - or at all - in the analyzers (all the issues in "Release 0.2" milestone are about async). Currently in the analyzers we have `ExpectedResult` if and only if the test method has a non-void return type, so since there is no `ExpectedResult` then we expect only `void` to be returned

[2019-03-20 20:15] mikkelbu commented on #119
I've not yet tried VS 2019, but the issue sounds related to dotnet/roslyn#32226, but that should be corrected now (can you see if it is the same problem using [fuslogvw](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer)?). Similar problem also occurred in DotNetAnalyzers/StyleCopAnalyzers#2633, but that could be corrected by upgrading the client code

[2019-03-20 20:57] mikkelbu commented on #119
@rprouse Exactly how and when are you getting these warnings? I downloaded the newest VS (Visual Studio 2019 RC.3), cloned https://github.com/rprouse/NUnitDemo, and added the analyzers using `Install-Package NUnit.Analyzers -Version 0.1.0-dev-00134 -Source https://www.myget.org/F/nunit-analyzers/api/v3/index.json`, but I don't get any warnings when building.

[2019-03-21 16:27] rprouse commented on #119
Hmm, maybe we can close this. I ran into the problem in the NUnitDemo project that you tried. I went in and re-enabled the analyzers and no longer see the problem. It originally happened using the NuGet UI in Visual Studio. I added the package and the errors appeared. It didn't require a build.

I've tested again by uncommenting the package reference in the project file and by adding the package u

[2019-03-21 16:27] #119 closed

[2019-03-21 16:28] rprouse commented on #118
I can confirm that it isn't related to #119. That issue is no longer happening for me, but this one is.

[2019-03-21 20:14] mikkelbu commented on #119
The closest I came to reproducing the problem was when I by accident was using 2 versions of the analyzer in the same project. One version came from NuGet and the other from vsix (as I was debugging the analyzer and by acciendent opened a project that also

[2019-03-21 22:50] mikkelbu opened #120 "Problems building the nunit-console due to reference to the analyzers"
When building the nunit-console Charlie gets the following errors from the cake script (he is building inside a VM using VS2017).
[code]

And he gets warning messages like the following when building in the IDE.
[code]

A guess is that Nunit has some indirect references to System.Runtime. Perhaps via `System.ComponentModel.TypeConverter` uses v4.3 and the classic analyzer uses 4.1.

[2019-03-21 23:20] mikkelbu commented on #120
@CharliePoole Can you provide some more information:
* Exact versions of VS and msbuild
* Installed versions of .NET Framework and .NET Core
* Do you also have the analyzers installed as a vsix?
* Is there more useful information from cake if you increase the verbosity of msbuild - https://github.com/nunit/nunit-console/blob/79ad1fe4cfdf343a88483b4914782ba3c8eb81da/build.cake#L160
* Perhaps see if

[2019-04-01 18:53] #118 closed

[2019-04-01 18:53] #7 closed

[2019-04-01 18:53] #48 closed

[2019-04-02 19:46] mikkelbu opened #123 "Generalise TestMethodUsageAnalyzer to support custom awaitables"
We should generalise the work done in #122, so that it also supports custom awaitables - see e.g. nunit/nunit#3095. See in #49 for useful information.

[2019-04-02 19:46] #49 closed

[2019-04-02 19:46] #50 closed

[2019-04-02 19:49] mikkelbu commented on #79
This was partly handled by the changes in #122. So far we only support `Task`. `ValueTask` (not supported by NUnit yet) will be handled by #123.

[2019-04-02 19:49] #79 closed

[2019-04-04 10:02] Dreamescaper opened #124 "Warning if IgnoreCase is used for non-string constraint argument"
E.g.
`Is.EqualTo(321).IgnoreCase` - incorrect

Exception - collection of string - `Is.EqualTo(new [] {"a","c"}).IgnoreCase` - fine

Same is applicable for CollectionEquivalent constraint:
`Is.EquivalentTo(new [] {1,2,3}).IgnoreCase` - incorrect
`Is.EquivalentTo(new [] {"a", "b"}).IgnoreCase` - correct

Any exceptions of this rule?

[2019-04-23 18:24] #116 closed

[2019-04-23 19:42] mikkelbu commented on #5
Perhaps also check whether the test method is abstract, see https://github.com/nunit/nunit/blob/db5bee0f8bb74d68202377917f6d958c0e139bfd/src/NUnitFramework/framework/Internal/Builders/NUnitTestCaseBuilder.cs#L145

[2019-04-27 18:35] mikkelbu opened #128 "Add analyzer to capture missing properties"
Given we have a test like below, were `fixtures` has the static type `IEnumerable<TestSuite>`
[code]
Then test fails run-time with
[code]
It would be nice to capture this beforehand using an analyzer.

Later we can also use this for the general setting with the constraint `Has.Property("someproperty")`.

[2019-04-30 19:44] Dreamescaper commented on #128
Do we have to account for properties, unknown at compile time?
Or simply expect user to disable analyzer, if such occurs (I expect it won't be very often)?

[2019-05-02 21:43] Dreamescaper opened #129 "Warning if actual value is same as expected"
Fixed very useful test today, something like that:
[code]

Probably we should show warning in such cases.

I would suggest to apply analyzer for any constraint with 'expected' parameter - don't think we have any tricky case where it might make sense.

Not sure about arguments though. Should we limit verification by variables only? Or compare the whole expression?

_Technically_ something like that

[2019-05-05 17:44] mikkelbu commented on #128
I think we should just account for the compile-time properties.

[2019-05-05 18:32] #124 closed

[2019-05-10 17:00] Dreamescaper commented on #84
Probably we need to define them first. I can see three groups:
1. Suggestions to update non-supported code. Currently we have only classic asserts here.
2. Tests organization. TestCaseUsage, TestCaseSource usages, #5 , #6 , etc.
3. Assert usage. IgnoreCaseUsage, ConstActualValueUsage, #128 , #39 , etc. I suspect that most analyzers will be here.

Anything else?

[2019-05-10 22:25] mikkelbu commented on #84
I thought a little about this issue one week ago, but I did not have time to type in my handwritten notes :). Strongly inspired by xUnit and other Roslyn analyzers I also ended up with three categories with much the same content as you (I've reordered the list to match yours):
* **Best practices**
  - This could be non-supported code, but also to highlight different ways one can improve the test c

[2019-05-12 18:09] mikkelbu commented on #129
I think that the warning makes sense. Regarding whether we should only handle variables or general expressions, then I think it is fine to go for the general case initially, as I also think that it is very rare to have an assertion like above.

[2019-05-12 18:53] #54 closed

[2019-05-12 19:00] mikkelbu opened #131 "Bump versions of nunit, nunit-console, and NUnit3TestAdapter"
When the new version of nunit is release - release 3.12 - then we should bump the versions of all the nunit packages we use.

Changes in cake-script (consolerunner) and in project files.

[2019-05-15 20:28] Dreamescaper commented on #131
Can we use '*' nuget reference wildcard in project files?
To use latest stable version automatically?

[2019-05-15 20:29] Dreamescaper commented on #129
I'll work on that s bit later then

[2019-05-15 20:42] mikkelbu commented on #131
I don't know whether it works in project files, but my initial thought is also that I prefer to keep things like this fixed and explicit, but I'm ready to be convinced otherwise :)

[2019-05-15 20:47] Dreamescaper commented on #131
Nope, just a thought.
Manual update every half a year shouldn't be an issue :)

[2019-05-18 01:22] Dreamescaper opened #134 "Constraint analyzers have a lot of repeating code"
Constraints analyzers (classic assert analyzers, IgnoreCaseUsage, ConstActaulValue etc) have a lot of similar code (check if assert, get actual/expected arguments etc).

Probably makes sense to
a) Create some `AssertExpressionHelper` with commonly used methods
b) Create abstract class `AssertionAnalyzer` with existing check for assert.

[2019-05-18 09:05] mikkelbu commented on #134
I agree.

Currently, my overall "plan" was the following:
* Define formats, categories of analyzers, #84
* Document them or at least set up the skeleton, #96
* Create the 2.0 release (release notes, packaging, release branch, nuget upload, tags ...)
* Clean up the code (reduce nesting, remove duplication, extract helper methods)

But this is mostly as I want to release in the near future :)

[2019-05-18 23:08] Dreamescaper commented on #84
Difference between 'Best practices' and 'Structure' is not really clear. From your description it sounds more like Severity, not area/category.
Maybe merge them, and leave only two categories so far?

[2019-05-21 20:59] #129 closed

[2019-05-22 08:27] Dreamescaper opened #135 "Pre-release nuget packages should be created with unique assembly versions"
Probably build number should be used in assembly version. Otherwise - after package upgrade VS has to be restarted. Otherwise warnings 'An instance of analyzer ClassName cannot be created' are present.

Similar issue:
https://github.com/microsoft/vs-threading/issues/279

[2019-05-22 14:16] mikkelbu commented on #135
I wonder if this will also solve the problem in #120?

[2019-05-22 14:38] Dreamescaper commented on #135
Not sure.
Warnings I saw were something like this:
`Could not load type 'Fully.Qualified.Analyzer' from assembly 'nunit.analyzers'`

Nothing about `System.Runtime`.

[2019-05-24 15:03] Dreamescaper commented on #84
@mikkelbu
I'll submit PR with those changes in order to make discussion easier, unless you've already started working on it.

[2019-05-24 16:09] mikkelbu commented on #84
Actually, I've already started it, but the last two weeks have been too busy, so I've not made much progress. I'll see if I can get something ready tonight (in 3-4 hours).

[2019-05-24 23:20] mikkelbu commented on #84
Sorry, I got sidetracked by other NUnit tasks, so did not have time to do much about the implementation. The categories should be **NUnitxxxx** where `xxxx` are a four digit number.

# Categories
* **Structure**. Range from 1000 to 1999. Covers problems with tests. This could be:
  * non-supported code
  * highlighting different ways one can improve the tests
  * highlighting problems with the tes

[2019-05-24 23:25] Dreamescaper commented on #84
@mikkelbu
I thought about those 6 as well recently.
Any reason not to put them to Assertion category?

[2019-05-24 23:55] mikkelbu commented on #84
@Dreamescaper No. I've just always considered them different :). But I think it is fine to place them in the assertion category. We can always improve on the categories later on (this will of cause break people that have code/configuration depending on the identifiers, but I'm guessing that very few people has this at this point in time).

[2019-05-31 17:32] #134 closed

[2019-06-01 10:26] #84 closed

[2019-06-01 16:19] mikkelbu commented on #96
Hi @JohanLarsson
Do you have time for the PR? Or if you don't have time, can you send me the tests or upload them somewhere (this would also help with subsequent updates to the analyzers).

[2019-06-01 19:16] JohanLarsson commented on #96
I'll try to find time this week.

[2019-06-01 20:19] #102 closed

[2019-06-06 20:00] mikkelbu commented on #96
Closed by #139

[2019-06-06 20:00] #96 closed

[2019-06-06 20:04] JohanLarsson opened #140 "Add helplinks pointing to analyzer docs."
[DiagnosticDescriptor.HelpLinkUri](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis/Diagnostic/DiagnosticDescriptor.cs,34) should point to the documentation for the analyzer. I'll try to find time to write a PR that updates the docs tests with a check for this,

[2019-06-06 20:06] mikkelbu opened #141 "Improve documentation of analyzers and fixers"
The initial version of the documentation has been implemented in #139. There are still some initial work to be made:
* Add descriptions of all analyzers, see discussion in #139
* Add more telling titles to the analyzers, so we get a better TOC, see e.g. https://github.com/nunit/nunit.analyzers/blob/master/documentation/index.md
* ~~Add help links in the analyzers, so that we can navigate from VS t

[2019-06-19 19:42] #140 closed

[2019-06-19 19:42] #141 closed

[2019-06-21 12:51] JohanLarsson opened #143 "Analyzer and fix: make test method static."
Probably default disbled making it opt-in. Nice convenience for refactoring if nothing else.

[2019-06-23 06:41] JohanLarsson opened #145 "Make analyzers suggesting refactoring to the constraint model default disabled?"
For example `NUnit2001` warns on `Assert.False(expression)` and offers refactoring to `Assert.That(expression, Is.False)`.

From what I understand this is mostly a style choice and while opinionated analyzers are nice for consistency it may be poor ergonomics to push users away from their preferred API.

Downside to making it default disabled is that it will not be easily discoverable. Upside is t

[2019-07-01 17:14] Dreamescaper commented on #145
I agree.
Unless we want to deprecate classic assertion model, it shouldn't be warning.
I wouldn't disable it by default either. I would suggest making it Info.

[2019-08-06 09:28] Dreamescaper opened #147 "Analyzer for non-test methods to be non-public"
In our team we have a convention that only test methods can be public in test classes. If any helper methods are present for some reason, they should be private. Would be great to have an analyzer for that.

Probably should be disabled by default though.

[2019-08-07 20:56] mikkelbu commented on #143
Sounds like a nice addition, albeit I usually have instance test methods (too lazy to write the `static` :)).

[2019-08-07 21:54] mikkelbu commented on #147
Sounds reasonable.

We should probably include information of whether an analyzer is enabled by default or not both in the documentation of the analyzer and in the index https://github.com/nunit/nunit.analyzers/blob/master/documentation/index.md.

[2019-08-07 22:35] mikkelbu commented on #145
There was a lot of discussion about the severity of the "ClassicModelAssertUsage" analyzers in #9 (search for Info in the comments), but I did not give it much thought when I took over the project (also, I am probably biased as I was advocating the constraint based model at my old job), so I just left the analyzers as a warning.

I agree with @Dreamescaper and think to begin with we should change

[2019-08-10 16:28] stevenaw opened #148 "Analyzer update needed for string->datetime offset conversion in testcaseattribute"
NUnit Version: 3.13

Support was added for string->datetime offset conversion in https://github.com/nunit/nunit/issues/3053

But I've noticed I'm getting an analyzer info message about an invalid conversion when using it. We should update the analyzers to be aware of the new type conversion.

Assuming we want to go ahead with this change, I'd actually be happy to try to implement too. Would be a m

[2019-08-10 17:39] mikkelbu commented on #148
Hi @stevenaw. I think the addition sounds like a good idea, and you are most welcome to work on it. Please write if you run into problems.

[2019-08-18 19:51] OsirisTerje commented on #145
I am not sure I agree on this.
The default model is the constraint model, using the classic model means you add another layer.
For the simple example above, I agree it doesnt matter much, but when you look at Assert.AreEqual syntax, the constraint model is less prone to user errors.
IMHO I believe we *should* give out recommendations.   From courses and workshops I have run on this, many devs don'

[2019-08-29 13:18] Dreamescaper opened #149 "Warning when non-delegate actual value is used with DelayedConstraint"
Case 1:
[code]

DelayedConstraint is allowed to be used with non-delegate values, but that makes no sense, since it will never change, and most likely is not intended.
I suggest to add analyzer for this case, with Warning severity.

Case 2:
[code]
Opposite case. Delegate actual argument is allowed for any Constraint, but it will simply invoke it.
It might be a bit confusing though, so I suggest ad

[2019-08-29 13:25] Dreamescaper opened #150 "Analyzers and refactorings to use string constraints instead of methods"
E.g. instead of
`Assert.That("123".Contains("12"))`
should be
`Assert.That("123", Does.Contain("12"))`

Other cases:
`StartsWith` -> `Does.StartWith`
`EndsWith` -> `Does.EndWith`

[2019-08-29 13:25] Dreamescaper commented on #150
I plan to work on that a bit later, so I can be assigned to this issue.

[2019-08-29 15:26] stevenaw commented on #149
(Apologies in advance for any mistakes below, I'm typing this from my phone)

I like this idea in that it will help catch the cases where one forgets to invoke a delegate when they meant to when writing tests.

One thought I have is around reference types. Should the following situation issue a warning?

[code]

[2019-08-29 15:45] Dreamescaper commented on #149
Frankly speaking, haven't thought about such constraints.
It technically might be valid for any non-immutable type.
Not sure how to handle that.

[2019-08-29 22:33] mikkelbu commented on #150
I don't think that I've ever written an assertion like `Assert.That("123".Contains("12"))`, but that should not be used as argument not to implement this :)

[2019-08-30 23:17] Dreamescaper commented on #150
Sure, because you know framework, and what constraints are available.

I'd really like to be able to enforce using constraints instead of most common boolean verifications.
There are guys that are too lazy to read NUnit docs, even such basic once...

[2019-09-01 19:47] mikkelbu commented on #150
Actually, most of the time I only use the most basic constraints (probably because I also don't know about most of the more advanced constrains), and currently we only use xUnit at work, so I don't get to use NUnit much besides looking into issues and PRs in the NUnit project :).

So I would write
[code]
rather than
[code]
which gives a better failure message.

But I very much agree with you that

[2019-09-04 20:28] #150 closed

[2019-09-23 03:39] jnm2 opened #153 "Constraint model suggestion for Assert.AreSame"
[code]

Expected suggestion, since Assert.False has a constraint model suggestion:
[code]

[2019-09-23 03:49] jnm2 opened #154 "Warning when SameAs compares expressions of incompatible types"
[code]

I think something like bidirectional IsAssignableFrom semantics are desired but I'm not quite sure.

[2019-09-28 11:46] Deni35 opened #155 "Analyzer doesn't allow me to pass string[] as first parameter."
Unfortunately passing `string[]` as first parameter leads to a problems.

Compiler is choosing `TestCaseAttribute(params object[] arguments)` constructor and it leads to error: _An attribute argument must be a constant expression, typeof expression or array creation expression of an attribute parameter type_. If I understand right, then casting `string[]` to `object[]` is not working for attribute

[2019-09-28 20:58] mikkelbu commented on #155
@Deni35 Another way to "force " compiler to use the correct constructor is to use a named argument in the constructor. The following should also work (and avoid the cast to `object`)
[code]

[2019-10-11 02:33] stevenaw commented on #148
Thanks @mikkelbu
I got a little busy with some things, but I think this went surprisingly smoothly.

[2019-10-11 11:20] Dreamescaper opened #157 "Suppress nullability warnings after Is.Not.Null constraint"
As discussed here https://github.com/nunit/nunit/issues/3376#issuecomment-535879642, it would be great to suppress nullability warnings after Is.Not.Null asserts, e.g.
[code]

Unfortunately, we cannot impact roslyn's nullability analysis, only suppress analyzers (see https://github.com/dotnet/roslyn/issues/32042#issuecomment-540524650), which means that at least very basic logic should be re-inven

[2019-10-14 21:16] mikkelbu commented on #157
I can definitely see the benefit of this, but also the complexity if we want to handle more than the most basic cases, as we would have to implement the same flow analysis as in the compiler.

So the easiest is probably to start with the most basic example and then build upon this.

[2019-10-16 19:29] #148 closed

[2019-10-20 18:57] #131 closed

[2019-10-24 14:51] mikkelbu commented on #155
@Deni35 I'm closing this is one can use the workaround instead of casting the argument. We could in theory also handle casted values (or just ignore them) in the analyzers, but I think that this would provide very little value compared to the effort, so for now I don't think we should spent time on this.

[2019-10-24 14:51] #155 closed

[2019-10-25 07:23] pantosha commented on #145
Any news?
It seems that this bug is only one stopper for the first version releasing. It will be very helpful to resolve it and publish the first version at nuget.com.

[2019-10-26 22:22] #153 closed

[2019-10-29 07:15] jcurl opened #162 "NUnit1001: False positive"
Downloaded 0.1.0-dev-00205, analyzed my solution and I get a false positive for NUnit1001 when the types have an implicit conversion available.

I'm using NUnit 2.6.7, but I don't expect this to be a problem in NUnit3 either.

The error reports (for both these cases):
"The value of the argument at position '0' cannot be assigned to the argument 'value'"

[code]

[2019-10-29 19:56] mikkelbu commented on #162
Thanks for the bug report @jcurl. I can confirm the problem, but I did not think that the analyzers also worked with NUnit 2.X.Y 😄.

We can probably get inspiration from how the NUnit code handles implicit conversions https://github.com/nunit/nunit/blob/46f8b2ae280a6a6150e0f0bf86718a783d8b0c9d/src/NUnitFramework/framework/Internal/Reflect.cs#L195-L206

[2019-10-29 20:05] stevenaw commented on #162
Interesting, perhaps there's an inconsistency in the framework. I think ParamAttributeTypeConversions.cs maps those parameter types a bit differently than Reflect.cs

https://github.com/nunit/nunit/blob/46f8b2ae280a6a6150e0f0bf86718a783d8b0c9d/src/NUnitFramework/framework/Internal/ParamAttributeTypeConversions.cs#L119

[2019-10-30 19:36] mikkelbu commented on #162
I'm think I was too quick. The `convertibleValueTypes` map is used to find constructors that match, and I think in that setting we don't have quite the same translation as for tests. Googling it seems we can use `Compilation.HasImplicitConversion` - see e.g. dotnet/roslyn#26719 to determine if one type can be implicitly converted into another.

[2019-10-30 19:39] mikkelbu commented on #145
@pantosha I hope to have something ready within a couple of weeks (my schedule is quite busy at the moment), so until then you can use the myget feed.

[2019-10-31 07:12] jcurl commented on #162
I'm not familiar with Roslyn Compiler as a Service and analyzers (sounds interesting!) but will https://github.com/dotnet/roslyn/pull/26719 imply a minimum version? I'm using VS2017.

[2019-10-31 07:17] jcurl opened #163 "Feature: Assert.IsNull / Assert.IsNotNull Classic to Fluent"
Thanks for the good analyzer. In my old project, I'm migrating to new style before upgrading to NUnit 3.x (no fixed date yet, but when I'm ready).

A see no warnings for Assert.IsNull, Assert.IsNotNull.

## Expected
`Assert.IsNull(foo)` => `Assert.That(foo, Is.Null)`
`Assert.IsNotNull(foo)` => `Assert.That(foo.Is.Not.Null)`
`Assert.Null(foo)` => `Assert.That(foo, Is.Null)`
`Assert.NotNull(foo)` =>

[2019-10-31 10:13] pantosha commented on #145
Great! @mikkelbu , thanks for the answer.

[2019-10-31 18:34] jcurl opened #164 "Bug: Assert.AreEqual to Assert.That(Is.EqualTo()) doesn't consider types"
Version NUnit.Analyzers-0.1.0-dev-00205
Using NUnit 2.6.7, within Visual Studio 2019.

After converting from:

`int value=49; Assert.AreEqual('1', value);`
to
`int value=49; Assert.That(value, Is.EqualTo('1'));`

will change a passing test case to a failing test case. The conversion should take the types into account so that after the conversion there is a typecast as in the original Assert.AreEqu

[2019-10-31 19:31] jcurl opened #165 "AD0001 Crash: TestCase contains int instead of enum"
Version: NUnit.Analyzer-0.1.0-dev-00205
Visual Studio 2019
NUnit 2.6.7

When analyzing a project, the following crash occurred by the analyzer:
[code]

The file that caused this issue is attached.

It seems to be related to:
[code]

in particular the line:
[code]

Note, this is a valid test case, as .NET treats enums as an `int` underlying.

[TraceLineV850ToDltTest.zip](https://github.com/nunit/nu

[2019-11-01 18:05] Dreamescaper commented on #165
Seems like `TestCaseUsageAnalyzer` does not support enums at all.
Will take a look into that.

[2019-11-01 19:44] Dreamescaper commented on #162
I'll take a look into this.

[2019-11-01 20:01] stevenaw commented on #165
Thanks @Dreamescaper
I think the underlying null issue was probably a result of a recent change of mine

[2019-11-01 20:13] Dreamescaper commented on #165
Null issue - yes. But before your changes it would report warning, which is not correct as well.

[2019-11-01 20:14] stevenaw commented on #165
Fair. In any event, thanks for fixing it

[2019-11-01 23:05] mikkelbu commented on #163
Sounds like an analyzer to me :).

[2019-11-01 23:26] mikkelbu commented on #164
This is only a problem in NUnit 2.X, as both assertions pass in NUnit 3. I'm not much for introducing special handling and complexity in the analyzers to handle behaviour in NUnit 2, so I'm leaning towards closing this issue (with the current label), and then if I at some point get more time - and is more finished with the NUnit 3 features - then I can come back to this. But currently, I don't thi

[2019-11-01 23:28] jcurl commented on #164
Thanks for the confirmation.

[2019-11-01 23:28] #164 closed

[2019-11-02 00:03] #162 closed

[2019-11-02 00:03] #165 closed

[2019-11-02 21:39] Dreamescaper commented on #154
I'll take a look into this, if no objections

[2019-11-02 21:48] mikkelbu commented on #154
You are most welcome (currently, most of my time is used on reviewing and screening issues and questions in many of the NUnit repos, so there is little time actually programming).

[2019-11-03 13:23] jcurl commented on #163
I've had a shot at this, but I'm not familiar enough with Roslyn to do the code fix for Assert.That(obj, Is.Not.Null).

Please take a look at 35819be800b8388fd720e48c22a5cd33d29d8ffe

[2019-11-03 14:34] Dreamescaper commented on #163
@jcurl
I think it should be similar as existing `AreNotEqualClassicModelAssertUsageCodeFix`,
but probably with something similar as that:
[code]

(haven't checked, but should work)

or even that:
[code]

(I often use SharpLab to investigate Syntax Tree, e.g. see [here](https://sharplab.io/#v2:C4LghgzsA0AmIGoA+ABATARgLACgUGYACdQgYUIG9dCbiiUAWQgWQAoBKQ62qnW/wgEEIEAKYAnYADoAKgAswwVmADGwAK5gANtEIBJCFI

[2019-11-03 20:43] Dreamescaper commented on #157
The only concern is - doing that would probably require to drop VS2017 support.
I don't know any way to reference Roslyn 3.0 package _and_ maintain compatibility with VS2017.

[2019-11-07 18:14] Dreamescaper commented on #149
I suppose it could be limited to built-in types only.

[2019-11-10 19:43] mikkelbu commented on #163
Closed by #168

[2019-11-10 19:43] #163 closed

[2019-11-15 15:46] jcurl opened #169 "NUnit1001 False Positive with params in the list"
## Version
Testing with NUnit.Analyzers.0.1.0-dev-00216,
NUnit 2.6.7

## Related Issues
https://github.com/nunit/nunit.analyzers/issues/162

## Problem
There is still a false positive when using the following code snippet

[code]

Each of these test cases shows the error:
Error	NUnit1001	The value of the argument at position '4' cannot be assigned to the argument 'expectedSingleOptions'.	IocTraceC

[2019-11-15 15:55] jcurl commented on #169
For me, this is an interesting case. I realize that the workaround is very easy, I can just remove `params` and it works. It tells me that this could potentially be a new analyzer that raises a warning to indicate one shouldn't use params?

[2019-11-15 18:47] mikkelbu commented on #169
I think I would rather have that the existing analyzer just handle the `params`. Also perhaps we should write out the types, as this could help us diagnose the problem.

[2019-11-23 20:10] #154 closed

[2019-11-30 21:00] #123 closed

[2019-12-07 22:07] #169 closed

[2019-12-15 18:52] #39 closed

[2019-12-16 18:36] #145 closed

[2019-12-18 09:51] Dreamescaper opened #175 "EqualToIncompatibleTypesAnalyzer should not warn if constraint expression has conditional parts"
[code]

Currently there is warning, because `string` cannot be equal to `string[]` - analyzer does not understand that collection prefix is present.

Probably makes sense to disable analyzer if any conditional or variable expressions are present in constraint expressions.

[2019-12-18 21:23] mikkelbu commented on #175
Sounds reasonable.

[2019-12-25 21:01] #175 closed

[2020-01-05 01:46] Dreamescaper commented on #128
I'll take that, if you don't mind.

[2020-01-08 22:14] mikkelbu commented on #128
I don't mind it at all 😄. I'll probably have time to review it this weekend (hopefully Friday)

[2020-01-09 16:34] Dreamescaper opened #179 "EqualToIncompatibleTypes should warn if two different enums compared"
[code]

Such assertion fails, therefore warning should be shown.

[2020-01-10 23:43] #179 closed

[2020-01-11 14:27] #128 closed

[2020-01-12 20:07] mikkelbu opened #182 "Remove warning from "Pack""
We get the following warning when packing the nuget file
[code]

[2020-01-12 20:11] #135 closed

[2020-01-12 21:42] mikkelbu commented on #182
We will have to download the file to the repository and then follow the approach described in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-an-icon-image-file

Note

[2020-02-12 19:10] Denis535 opened #186 "False error when Uri is parameter and string is argument"
Next code leads to error, but it works.

    [TestCase( "http://www.site.com" )]
    public void Test(Uri value) {
    }

_The value of the argument at position '0' of type string cannot be assigned to the argument 'value' of type System.Uri_

[2020-02-12 22:05] mikkelbu commented on #186
As far as I can tell this is working now (handled by `TypeConverter converter = TypeDescriptor.GetConverter(reflectionTargetType)` in `src\nunit.analyzers\Extensions\AttributeArgumentSyntaxExtensions.cs`. Which version of the analyzer are you using @Deni35?

[2020-02-13 15:46] Deni35 commented on #186
@mikkelbu, version is 0.2.0-dev-00271.

[2020-02-13 20:29] mikkelbu commented on #186
It seems that the code behaves differently from .NET Framework and .NET Core. I first tested on 4.7.2 and it worked, but when changing the code to target .NET Core it failed with the above message. I'll have to look more into this (hopefully, in the weekend).

[2020-02-22 19:30] pantosha commented on #143
FxCop analyzers already has rule [CA1822](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1822) with similar behavior.

[2020-02-23 23:25] Dreamescaper commented on #186
Seems like the issue is with our `GetTargetReflectionType` - it attempts to handle forwarded types in dotnet core, but handles only types from mscorelib.
Uri type, however, is in `System` assembly in runtime (in `System.Runtime` assembly in design time), therefore `Type.GetType` returns null.

Probably special case could be added to fix this issue.
Although I'd investigate how hard would it be to

[2020-02-24 19:55] mikkelbu commented on #186
I came to the same conclusions last weekend, but all last week as 110% booked, so did not work on this.

Even though several blogs and posts discouraged combining analyzers and reflection I still think it is needed:
* Partly, because it makes the analyzer code somewhat similar to the production code
* But more importantly, because I don't think we can capture this information - that a string can b

[2020-02-24 21:51] Dreamescaper commented on #186
Yeah, we can describe some type mapping, which could be converted, but we definitely cannot know that e.g. `"1234"` cannot be converted to `Uri`. Which is surely valuable info, agree.

This concern applies to reflection approach as well - user can define custom class with custom TypeConverter, and we won't be able to handle that. Probably a rare case, of course...

That would probably require to b

[2020-02-26 13:54] Dreamescaper opened #189 "Warning when Is.Not.Null.Or.Empty used"
Operators are a bit confusing in NUnit. Personally I don't fully understand how they work.

I've seen multiple times that constraint `Is.Not.Null.Or.Empty` is used to validate that string is not empty, which is wrong - it should be either `Is.Not.Null.And.Not.Empty`, or `Is.Not.Null & Is.Not.Empty`, or `!Is.Null.Or.Empty`.
But it might be missed because `Not` operator precedence is not obvious (on

[2020-02-29 21:14] #90 closed

[2020-03-03 20:54] Dreamescaper commented on #186
I suggest the simplest fix possible for the time being - do not report diagnostic if reflection type info is not available for analyzer.

[2020-03-23 20:51] #186 closed

[2020-03-23 20:55] mikkelbu opened #191 "Make it possible to run tests both in .NET framework and .NET Core"
To capture issues like #186 we need to run tests both in a .NET framework setting and in a .NET Core setting.

[2020-03-23 21:00] Dreamescaper commented on #191
Simply adding target framework didn't help to reproduce that issue - I've tried :) .
I suppose that's because we create our roslyn project not with design-time assemblies, but with forwarded ones, therefore analyzer is able to find Uri class.

[2020-04-06 14:35] mikkelbu opened #192 "Add missing information to nuget package"
We should include some more information in the nuget file, so we will have summary and release notes on nuget.org.
[code]

[2020-04-06 23:05] #182 closed

[2020-04-06 23:44] #192 closed

[2020-04-09 22:17] mikkelbu opened #196 "Avoid loading new assemblies into the VS process"
Issue raised based on comments from @jnm2 and @JohanLarsson in https://gitter.im/GuOrg/Gu.Roslyn.Asserts?at=5e793252b08f3e0abf8c2224.

So instead of loading types and possibly new assemblies into the VS process we handle intrinsic type converters directly and will handle custom type converters in a subsequent issue - #197. If a converter (from string) exists then we assume that it is able to conve

[2020-04-09 22:19] mikkelbu opened #197 "Handle custom type converters"
We should be able to handle custom type converters.

Suggestions from Gitter: https://gitter.im/GuOrg/Gu.Roslyn.Asserts?at=5e7935aa2e334e1b7aefffa0

...
So that would be a search in the custom attributes on the `targetType` ITypeSymbol
For a custom attribute with whatever the full type name of TypeConverterAttribute is
And that's when `argumentType` is System.String

[2020-04-09 22:29] Dreamescaper commented on #196
I think we can leave Convert.ChangeType for some limited set of types (e.g. for Uri) - without trying to resolve types dynamically or handle custom converters.

[2020-04-09 22:40] Dreamescaper commented on #196
E.g. something like that:
[code]

[2020-04-09 22:47] mikkelbu commented on #196
Thanks for the suggestion @Dreamescaper. I'll make another PR and see how it looks (and behaves), but it will probably be tomorrow, as I'm heading to bed now 😄.

[2020-04-09 23:47] jnm2 commented on #196
`Convert.ChangeType` is fine because it doesn't load user code into the analysis process. It wouldn't be a great idea to use it if it behaves differently between .NET Framework and .NET Core or between two versions of .NET Core, because then you get different diagnostics depending on whether the analyzer is running in VS or from the command line (etc). Just remember that the way that `Convert.Chan

[2020-04-10 20:54] mikkelbu commented on #196
It does not seem like `Convert.ChangeType` is invoking the converters. If I run
[code]
then both tests fail with exceptions like
[code]
as none of `IConvertible` methods can be used to convert to a `DateTimeOffset` (or `TimeSpan`, respectively).

Since I know that the source type will be either `double`, `string`, or `int` and that the target type will also be in a fixed set of types (`DateTimeOff

[2020-04-10 21:14] Dreamescaper commented on #196
Since the idea is to have limited amount of supported types, I would suggest to actually _use_ default converters (e.g. `UriTypeConverter`, `VersionConverted`, `GuidConverter`, `DateTimeOffsetConverter`), and drop `TypeDescriptor.GetConverter` call altogether.
Seems like a safer way for me.

[2020-04-10 21:17] mikkelbu commented on #196
I think you are right. Thanks for the suggestion 👍.

Ps. I guess it is not possible to override these providers, as it would require us to decorate system types with new attributes.

[2020-04-10 21:18] Dreamescaper commented on #196
There is method `TypeDescriptor.AddProvider` which may do something bad in our case, not sure.

[2020-04-10 23:12] jnm2 commented on #196
`Convert.ChangeType` does not use type converters. I read that it was originally added as a stopgap to make .NET easier to use for VB developers and was considered legacy in .NET Framework 1.0. Type converters were going to be the way forward.

[2020-04-10 23:14] jnm2 commented on #196
Btw: VersionConverter does not exist in .NET Framework or in .NET Core prior to 3.0.
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.versionconverter?view=netcore-3.1#moniker-applies-to

[2020-04-13 12:52] #196 closed

[2020-04-18 22:20] mikkelbu opened #203 "Add tool for measuring code-coverage of builds"
Perhaps a coverlet + codecov combination like in https://github.com/dotnet/roslyn-analyzers

[2020-04-19 17:46] mikkelbu opened #204 "Extend TestCaseSourceUsesStringAnalyzer to handle all constructors of TestCaseSourceAttribute"
The existing analyzer should handle all the constructors of the attribute:
* `TestCaseSourceAttribute(Type sourceType)`
* `TestCaseSourceAttribute(Type sourceType, string sourceName, object[] methodParams)`
* `TestCaseSourceAttribute(Type sourceType, string sourceName)`
* `TestCaseSourceAttribute(string sourceName)` (only ctor handled now)
* `TestCaseSourceAttribute(string sourceName, object[] met

[2020-04-23 06:06] mikkelbu opened #205 "Document all the analyzers"
We have 18 that needs information instead of "ADD MOTIVATION HERE" and "ADD HOW TO FIX VIOLATIONS HERE"

[2020-04-24 01:29] SeanKilleen opened #207 "Explanation of NUnit1013 appears to be inverted"
When documenting the analyzers as part of #206, I noticed that the expectation for the rule appears to be the inverse of what it is actually checking.

The explanation in the docs and the analyzer itself reads:

However, what it actually means is that it must have a *generic*, _not_ a non-generic, Task type.

The below code will cause `NUnit1013` to be thrown, showing that it's the explanation tha

[2020-04-24 03:24] SeanKilleen commented on #207
Wow, I'm sleepy. This is totally correct. I read non-generic to mean `Task<T>` instead of `Task`. It was, in fact, my own brain that was inverted! 😆

[2020-04-24 03:24] #207 closed

[2020-04-24 04:11] SeanKilleen commented on #205
@mikkelbu I believe my #206 PR might close this out if we tweak the language to address the motivation sections. I welcome your feedback there to extract the motivation from my examples. Once I understand the purpose of the motivation section better, I think we might be able to close this issue out.

[2020-04-24 19:21] mikkelbu commented on #207
No problem 😄. I also had to check a couple of times to be certain that I had not inverted the statement.

[2020-04-24 19:51] mikkelbu opened #209 "NUnit1001 and NUnit1005 complains about string to integer conversion"
NUnit1001 complains with `"The value of the argument at position '0' of type string cannot be assigned to the argument 'numberValue' of type int."`, but the test can actually be executed, as the string is convertible to an int.
[code]

Also the following can be executed by NUnit, but the analyzer NUnit1005 complains
[code]

[2020-04-24 19:57] mikkelbu commented on #205
Most of the motivations - at least for the diagnostics that are marked as errors - is that the code would fail at runtime or mark the test as not runnable (depending on how you run the test). I'll review the PR now and make some comments. But I'm already thankful for the contribution 👍 .

[2020-04-24 21:12] mikkelbu opened #210 "index.md in the documentation should also contain information about Severity"
In the overview we should also have information about the Severity of each analyzer and whether we have a codefix associated with the analyzer. As this could take up most of the horizontal space we could do using icons similar to the approach taken in the README.md in https://github.com/wachulski/nunit-migrator.

Also we should perhaps partition the analyzers in index.md into sections with heading

[2020-04-25 19:19] #205 closed

[2020-04-26 08:21] pyrocumulus opened #211 "Suggest using nameof() for referring to a source for TestCaseSource"
When referring to a `sourceName` for a `TestCaseSource` it would be nice to suggest using the `nameof()` operation instead of a literal reference. The latter is susceptible to typing mistakes or forgotten renames.

So in short, suggest that:
[code]

Be altered to:
[code]

I do not see why it should interfere with other analyzers.

[2020-04-26 08:29] pyrocumulus opened #212 "Nunit1007 - ignore [Test] attribute when [TestCaseSource] is present"
Consider the following sample:
[code]

The above code generates the following error:
`NUnit1007 "Method has non-void return type 'bool', but no result is expected in ExpectedResult"`

**Problem**
But this is a false positive in this scenario. The `ExpectedResult` is actually provided through the `TestCaseSource` but the analyzer only looks at the `[Test]` attribute.

**Possible solution**
The NUni

[2020-04-26 09:46] mikkelbu commented on #211
We already handle the simple case in NUnit1002 where we don't supply the type name. I'm working on #204 which will also make it work for the case. I hope to have a pre-release of this today or tomorrow

[2020-04-26 11:33] pyrocumulus commented on #211
Alright, I'm looking forward to it :)

Op zo 26 apr. 2020 11:47 schreef Mikkel Nylander Bundgaard <
notifications@github.com>:

[2020-04-26 17:07] mikkelbu commented on #212
I think you are right regarding ignoring the `[Test]` attribute when a `[TestCaseSource]` is present. But I think we should also have a "warning" or "info" if one combines a `[Test]` attribute and a  `[TestCaseSource]` (or `[TestCase]`) attribute. I'll create another issue for this.

[2020-04-26 21:12] mikkelbu opened #214 "Add diagnostics and tests for all cases of TestCaseSourceUsesStringAnalyzer"
This issue finishes the work related to #204.

The attribute should satisfy the following requirements. The sourceName is a string representing the name of the source used to provide test cases. It has the following characteristics:

* It may be a field, property or method in the test class. (already handled now if one does not use nameof)
* It must be static. This is a change from NUnit 2.x.
* It

[2020-04-26 21:20] jnm2 opened #215 "Expected a warning when no arguments are specified for a parameterized test method"
There should be a warning that arguments are required.

The warning shouldn't be shown if an attribute is applied to the method that implements the same interface as `TestCaseAttribute` and `TestCaseSourceAttribute` or if an attribute is applied to each parameter that implements the same interface as `ValuesAttribute` and `ValueSourceAttribute`.

[code]

Do you think a fix could be nice? I had:

[

[2020-04-27 10:02] siprbaum commented on #212
@mikkelbu I completely agree with your reasoning that `[Test]` should be ignored if `[TestCaseSource]` is present.

Furthermore, I want to hint that the same reasing applies to the `[TestCase]`, as it also makes the `[Test]` attribute redundant.

What I would not like to have is a Warning message about cases where both attributes are specified. From nunits point of view it is perfectly fine to hav

[2020-04-27 11:25] pyrocumulus commented on #212
@siprbaum that was my initial reaction as well. From Nunit's perspective there is nothing wrong with supplying both, it's just unnecessary.

So in my opinion both `Error` and `Warning` are too much in that regard. I could work with `Information` but I do think that it would be best to make it an optional one. Some code bases are full of both and do work fine.

[2020-04-27 19:09] #204 closed

[2020-05-01 12:02] Dreamescaper opened #218 "Rework ConstraintExpression to better support operators precendence."

[2020-05-01 12:25] Dreamescaper opened #219 "Add warning when string analyzers are used against non-string actual argument"
`Assert.That(123, Does.StartWith("12"))`

Warning should be reported in such cases.

Constraints: EndsWithConstraint, RegexConstraint, EmptyStringConstraint, SamePathConstraint, SamePathOrUnderConstraint, StartsWithConstraint, SubPathConstraint, SubstringConstraint.

[2020-05-01 12:41] Dreamescaper opened #220 "Add warning when collection constraint are used against non-IEnumerable actual arguments"
`Assert.That(123, Is.EquivalentTo(...))`

Constraints:
CollectionContainsConstraint, CollectionEquivalentConstraint, CollectionOrderedConstraint, CollectionSubsetConstraint, CollectionSupersetConstraint, EmptyCollectionConstraint, UniqueItemsConstraint.

There is also ContainsConstraint, which has different behavior depending on whether argument is string or IEnumerable. Probably can be handled by

[2020-05-01 13:20] mikkelbu commented on #212
Thanks for the feedback and the initial report. You are both right that it should be an optional diagnostic (with Info level). Then the user can activate it locally - and also tweak the severity so it fits their setup.

[2020-05-01 14:39] Dreamescaper opened #221 "Add warning when ContainsConstraint is used against incompatible argument type"
[code]

actual should be either string or IEnumerable.
If actual is string, expected should be string as well.
If expected is IEnumerable<T>, expected should have matching with T type (using rules that we have in EqualToIncompatibleTypesAnalyzer.CanBeAssertedForEquality)

[2020-05-01 15:03] Dreamescaper opened #222 "Use nullable reference types"
While we have no public API to annotate, using nullable reference types still will make code easier to write (would be clear whether I am required to do null checks), and safer from NullReferenceExceptions.

Since nullable attributes are not available for netstandard1.6, we need to add them. We can use:
- https://github.com/manuelroemer/Nullable - development-only package with nullable attributes

[2020-05-02 07:21] mikkelbu commented on #222
Thanks @Dreamescaper, I'll take a look at this probably tonight.

I think it is fine to go with https://github.com/manuelroemer/Nullable initially.

Regarding nullability warnings from Roslyn and still support VS2017 I was wondering if we could use multitargeting and then just use the netcoreapp3.0 target for helping in the development, but still releasing the .netstandard in the nuget package - s

[2020-05-02 08:53] Dreamescaper commented on #222
By Roslyn warnings I meant having nullable annotations in CodeAnalysis classes.
We don't need netcoreapp3 for that.

We need to update to netstandard2.0 (which is probably not a great deal) and to update CodeAnalysis package to 3+ version (which have dropping VS2017 support).

[2020-05-02 21:06] #214 closed

[2020-05-02 21:37] #219 closed

[2020-05-03 15:12] mikkelbu commented on #222
Ok. My understanding was that to get nullable annotations in any MS project then one needed to be netcoreapp3/netstandard2.1. I was just wondering if we in multi-targeting could refer to different versions of CodeAnalysis from the two targets and then keep the code as shared as possible, just so we don't need to have too much duplication if we decide to go for an analyzer for 2017 and one for 2019

[2020-05-03 15:25] Dreamescaper commented on #222
As far as I know, analyzers do not support netstandard2.1 anyway, so multi-targeting won't help here.
Probably that's possible using some compiler constant though.

[2020-05-03 19:18] #222 closed

[2020-05-03 19:52] jnm2 commented on #222
Probably that's possible using some compiler constant though.

Analyzers built for netstandard2.1 will work fine with `dotnet` tooling with SDK 2.1 and newer, but they will not work with VS which runs analyzers in-process on .NET Framework. It is possible to multitarget, e.g. `net472;netcoreapp3.1`, but it requires a .targets file to create the correct `<Analyzer>` project item depending on whethe

[2020-05-03 21:36] Dreamescaper commented on #222
@jnm2
Yeah, but I'm not sure if there's any point in multi-targeting at all. We can use `netstandard2.0` for both VS2017 and VS2019.

[2020-05-03 21:38] Dreamescaper commented on #222
@jnm2
Btw, do you have any concerns against using ReferenceAssemblyAnnotator?
Curious, because I remember you suggested using it for https://github.com/nunit/nunit, but ended up adding required nullable attributes manually.

[2020-05-03 22:17] jnm2 commented on #222
The only reason I didn't use it in NUnit is because ReSharper acts up and can't find any of the reference assemblies when you're targeting .NET 3.5 or lower and using ReferenceAssemblyAnnotator. I haven't been able to get to the bottom of it yet. I haven't noticed any issues using RAA with ReSharper on .NET Framework 4.6+ or .NET Standard/Core.

[2020-05-03 22:22] jnm2 commented on #222
Either using RAA or adding a netcoreapp3.0+ target will cause the BCL to be annotated. Multitargeting is not as preferable as RAA because you'll still get unnecessary warnings on all targets besides netcoreapp3.0+ due to their copy of the BCL not being annotated.

[2020-05-04 13:13] mikkelbu commented on #211
This should be working in the newer builds from myget - https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers and will be part of the 0.3 release, which I plan to release within a week or two (I just need to squeeze some more functionality into the release 😄).

[2020-05-04 13:17] mikkelbu opened #227 "TestCaseSource: Fix codefix for nameof so that it also works when the source is in another class"
Consider the following setup
[code]
Our codefix suggests to replace `"MyTestSource"` with `nameof(MyTestSource)`, but it should actually be `nameof(AnotherClass.MyTestSource)`.

We should handle that the source is in another class, a nested class, inside another class ...

[2020-05-04 22:04] jnm2 opened #230 "False positive NUnit2020 for Has.None.SameAs"
This warning would be correct for `Is.SameAs`, but it is not taking into account the `Has.None` part.

[code]

Nitpicking ahead, feel free to take it or leave it:

The message should be more casual and accessible. Right now, it is terse to the point of detracting from its readability. There are no articles (a/an/the) in the sentence. It is a good practice though to look for words to delete in ever

[2020-05-04 22:30] Dreamescaper commented on #220
Same should be required for `All`,`Some`,`None` operators (not sure if in same analyzer or separete).

[2020-05-05 17:58] jnm2 opened #231 "Detect mistakenly treating CategoryAttribute and others as though they applies only within the current attribute list"
This has come up more than once, though I'm only able to find this one right now:
https://github.com/nunit/nunit/issues/3531#issuecomment-624206302

There should be a warning that code like this is misleading. Attribute brackets in C# do not represent logical groupings.

[code]

Maybe offering to this form which has identical compile output, to avoid the warning if this is really something you mea

[2020-05-05 18:05] CharliePoole commented on #231
I'm pretty sure I've pointed this out to people many times... like a dozen a year.. but I haven't kept track. It's actually quite natural for a naive user to assume that including two attributes in the same bracket pair somehow associates them.When this first started showing up, round about 2009 or 2010, I discussed (somewhere lost) replacing the use of "modifying" attributes like this with proper

[2020-05-05 18:20] mikkelbu commented on #231
I've also encountered several variants - like
[code]
gives `Duplicate 'Order' attribute` from nunit/nunit#3056 or why doesn't this run `"A", false` first
[code]
from nunit/nunit#3055

[2020-05-05 19:41] jnm2 opened #232 "NUnit1001 false positive for types with custom type converters"
A warning should not be produced. The analyzer can see that CustomType has `[TypeConverter(typeof(CustomTypeConverter))]` even though it can't run it. It's a safe assumption that type converters can convert from `string`. Even without that assumption (say, with an `int` test parameter), the warning message is making a claim that it can't prove.

[code]

[2020-05-05 20:12] mikkelbu commented on #232
@jnm2 This sounds like a duplicate of #197, but I like this issue better as it provides more information.

[2020-05-05 20:25] mikkelbu commented on #230
I think I'll move the part about the message to a separate issue (I will create it tomorrow) - as we need to take a look at all the title, messages, and descriptions.

[2020-05-06 02:15] jnm2 commented on #232
Oh dear, thanks. Can I close this one and move my comment there?

[2020-05-06 03:51] jnm2 opened #233 "Code fix switching Has.Length to Has.Count for NUnit2022"
[code]

[2020-05-06 06:34] mikkelbu commented on #233
@jnm2 Just so I don't misinterpret you title, but you are proposing that we add a codefix for this?

[2020-05-06 06:35] mikkelbu commented on #232
Sure 👍

[2020-05-06 12:16] jnm2 commented on #233
Yes.

[2020-05-06 13:25] jnm2 commented on #197
##### (moved from accidental duplicate https://github.com/nunit/nunit.analyzers/issues/232)

A warning should not be produced. The analyzer can see that CustomType has `[TypeConverter(typeof(CustomTypeConverter))]` even though it can't run it. It's a safe assumption that type converters can convert from `string`. Even without that assumption (say, with an `int` test parameter), the warning message

[2020-05-06 13:25] #232 closed

[2020-05-06 17:52] mikkelbu opened #234 "Improve every text: titles, messages, and descriptions of the analyzers and code-fixes"
We should go through all texts: titles, messages, and descriptions of the analyzers and code-fixes and see if the text can be improved.

Extracted from #230

[2020-05-08 18:09] Dreamescaper commented on #230
Adding proper support for All/None/etc operators probably depends on https://github.com/nunit/nunit.analyzers/issues/218.
As a quick fix we can allow only `Not` operator for the analyzer, as it is done in several other analyzers.

[2020-05-08 19:47] #227 closed

[2020-05-08 19:49] mikkelbu commented on #230
I think it is fine to go with the quick fix not and we can improve on this later.

[2020-05-09 22:59] #230 closed

[2020-05-10 15:00] jnm2 commented on #6
@JasonBock These seem like useful issues. Would it bother you if we kept them open longer?

[2020-05-10 17:18] mikkelbu commented on #6
I was thinking the same. If you prefer to have a "clean slate" wrt. open NUnit issues you have created, then I can also create a new issue a replacement for this (and similar for the other two issues)

[2020-05-10 17:44] #221 closed

[2020-05-10 18:04] #209 closed

[2020-05-10 18:25] JasonBock commented on #6
You can re-open them if you like.

[2020-05-20 15:13] #234 closed

[2020-05-20 23:20] mikkelbu commented on #211
The codefix is now officially released in version 0.3.0 on NuGet - https://www.nuget.org/packages/NUnit.Analyzers, so I'll close this issue. Thanks for reporting it @pyrocumulus 👍.

[2020-05-20 23:20] #211 closed

[2020-05-21 19:30] mikkelbu opened #245 "Ensure that Test Methods are Public"
Extracted from #5. We should find all test methods (so looking for the relevant interfaces and not just the normal `Test`, `TestCase`, ... attributes).

[code]

[2020-05-21 19:31] mikkelbu commented on #5
Handling public test methods have been extracted into #245

[2020-05-21 23:50] CharliePoole commented on #5
Re-reading the description, I see it talks about classes marked with `[TestFixture]`. Actually, any class used as a `TestFixture` needs a public constructor. One way a class becomes a `TestFixture` is through use of the `TestFixtureAttribute`, but there are lots of other ways...

 * Classes containing tests
 * Classes inheriting from classes that contain tests
 * Classes inheriting from classes th

[2020-06-04 12:30] chibanemourad opened #246 "NUnit analyzer rules as rule set"
Is there a way to specify a rule set (*.ruleset) for NUnit.Analyzers
like Microsoft analyzers do :
[code]

[2020-06-05 13:14] Dreamescaper commented on #246
You can configure analyzers via .ruleset:
[code]

or via editorconfig:
[code]

[2020-06-07 16:42] ChrisMaddock opened #247 "Suggestion: Wrong actual type used with DictionaryContainsKeyConstraint."
DictionaryContainsKeyConstraint is not type-safe, and it would be useful to have an analyser to detect incorrect usage of this - similar to the current ContainsConstraintWrongActualTypeAnalyzer.

I just hit this problem working on the NUnit Engine - as I was converting Dictionaries to HashSets. It would have been nice to have a compile-time warning about my problem, rather than having to wait for

[2020-06-08 17:08] chibanemourad commented on #246
Thank you,

[2020-06-08 17:08] #246 closed

[2020-06-12 10:11] mikkelbu opened #249 "Add analyzer and codefix for methods decorated with several attributes - one deriving from ISimpleTestBuilder and another deriving from ITestBuilder"
This is extracted from #212. We should have an analyzer with an optional diagnostic (with Info level) that captures methods decorated with both `ISimpleTestBuilder` and `ITestBuilder`, like `[TestAttribute]` and `[TestCaseAttribute]` and a codefix that proposes to remove the attributes deriving from `ISimpleTestBuilder`.

See https://github.com/nunit/nunit/blob/830e0df681eb38490742355900436b4a988a

[2020-06-13 22:22] #212 closed

[2020-06-13 22:46] #233 closed

[2020-06-14 12:48] #93 closed

[2020-06-16 21:41] #245 closed

[2020-06-16 22:05] mikkelbu commented on #215
Notes:
* Iterate through the methods. If
  * the method has parameters and
  * the method is marked with an attribute deriving from `ISimpleTestBuilder`
  * the method is not marked with an attribute deriving from `ITestBuilder` or at least one parameter is not marked by an attribute deriving from `IParameterDataSource`
* then report a problem

Somewhat related to #249

[2020-06-27 12:44] mikkelbu opened #253 "Correct markdown linting errors in the analyzers"
See errors in the latest build in https://github.com/nunit/docs/actions.

EDIT: Duplicates nunit/docs#429

[2020-07-10 09:23] manfred-brands opened #256 "NUnit2007 should not fire if both sides are constant"
We have NUnit tests in place to assure that the value of an enumeration member has a certain value.
This triggers NUnit2007 because the actual value is constant.

[code]

[2020-07-10 09:37] manfred-brands opened #257 "Need more rules for Classic Model with codefix to transform to Constraint model"
This to augment the other issues to transform code to the contraint model.

[2020-07-10 15:37] manfred-brands commented on #256
Or it should only check for a literal constant and not for a constant field or enum member.

[2020-07-10 15:57] manfred-brands opened #258 "NUnit2023 fires on variables of type Task"
The following code results in an 'The type of the actual argument - 'void' - can never be null.

[code]

The source code does an Unwrap of an awaitable type regardless if it is actually awaited:
[code]

Roslyn should already do that for us when called like:
[code]

[2020-07-10 16:04] manfred-brands commented on #258
Related to this:
Raising NUnit2020 when comparing task for Reference:
[code]
Raising NUnit2021 when comparing tasks for Equals:
[code]

[2020-07-11 22:26] Dreamescaper commented on #258
Yes, because NUnit waits for tasks in asserts, you don't have to await it explicitly, i.e. this one is perfectly valid:
[code]

Still, probably non-generic Task case was missed here.

[2020-07-12 13:27] manfred-brands commented on #257
I am working on implementing this for:

* Greater
* GreaterOrEqual
* Less
* LessOrEqual
* AreNotSame

[2020-07-13 09:49] manfred-brands opened #261 "Braces for simple 'if' needs updating in .editorconfig"
We need to add the following to .editorconfig to make it match the used style for braces:

[code]

[2020-07-13 12:37] manfred-brands commented on #258
Are you sure about NUnit implicitly waiting?

Your example fails on my machine:

      But was:  <System.Threading.Tasks.Task`1[System.Int32]>

I fixed my original problem by changing the code in AssertHelper.UnwrapActualType to:

[code]

Are you happy for me to raise a PR for that?

[2020-07-13 15:29] Dreamescaper commented on #258
No, you're right.

I mix it up with `ActualValueDelegate` overload, so this is correct in NUnit:
`Assert.That(() => Task.FromResult(3), Is.EqualTo(3));`

I suppose that Task handling should be reworked to account for them better.

[2020-07-16 10:13] #256 closed

[2020-07-16 10:14] mikkelbu commented on #256
Thanks for the issue and the PR @manfred-brands 👍.

[2020-07-16 10:38] manfred-brands commented on #256
Thanks. As a suggestion can we use squash commits before merging? Now there are various fixup commits shown which I would normally have removed.

[2020-07-16 11:30] jnm2 commented on #256
At a personal level, I do greatly appreciate my PRs not being squashed but rather having the opportunity to rebase fixups before merging if any. [Here's why.](https://github.com/shouldly/shouldly/pull/641#issuecomment-654586039) Always squashing or always not squashing is less to think about for maintainers than making a judgment call or asking every time, so I do understand either way.

[2020-07-16 11:31] mikkelbu commented on #256
I'm sorry, but it is too late for this PR. I can do it for the other PRs if you like?

[2020-07-16 14:10] manfred-brands commented on #256
@jnm2 Some history is good, but tiny commits created by github have the wrong message: the file name. So for the sake a neatness and clarity of the whole repository, yes some cleaning is necessary, even if we want to keep some of the history. @mikkelbu I'm happy to update branch commits after a review to clean things up and would appreciate be given the opportunity when you're happy with the other

[2020-07-16 20:50] mikkelbu commented on #256
@manfred-brands I'll definitely remember it for the current PRs, but for future PRs I think it is safest if you also mention this in the first message in the PR, as I usually merge right after the approval (and most of the projects I contribute follow a similar flow).

[2020-07-16 22:26] #215 closed

[2020-07-17 13:45] #258 closed

[2020-07-22 01:35] manfred-brands commented on #191
We can dual target the nunit.analyzers.tests project by using plural TargetFrameworks:
`<TargetFrameworks>net461;netcoreapp2.1</TargetFrameworks>`

This causes 2 test failures on `AnalyzeWhenTestMethodHasValueTaskReturnTypeAndExpectedResult` and `AnalyzeWhenTestMethodHasValueTaskReturnTypeAndExpectedResultIsIncorrect`.
We can add ValueTask support to .net461 by adding:
`<PackageReference Include="

[2020-07-22 04:17] manfred-brands commented on #261
Created PR #264 which updates .editorconfig to the overall style used.
Fixed a few violations.
Now analyze solution results in no message.

If we want to enforce the style we might want to up the rules from suggestion to warning/error.

[2020-07-22 04:18] manfred-brands commented on #147
As we have the same rule, I will add a rule for this.

[2020-07-22 07:11] manfred-brands commented on #147
Created PR #265

I do allow for `protected` methods as we have base classes defining `protected virtual` methods.
CS6028 already fires for adding a `protected` method in a `sealed` class so I didn't test for that here.

[2020-07-24 20:39] #257 closed

[2020-07-25 18:47] #261 closed

[2020-07-25 19:44] mikkelbu commented on #253
Corrected by  #253

[2020-07-25 19:44] #253 closed

[2020-07-26 22:18] jnm2 commented on #197
@mikkelbu Can I contribute this one if no one is working on it?

[2020-07-26 22:30] mikkelbu commented on #197
Sure Joseph, you are most welcome to solve this issue. I'll assign it to you.

[2020-07-27 18:30] mikkelbu opened #270 "Get inspiration from the performance improvements made for the xunit.analyzers"
See https://github.com/dotnet/roslyn/pull/46349 which refer to
* xunit/xunit.analyzers#142 - Move syntax checks before semantic checks
* xunit/xunit.analyzers#143 - Convert SyntaxNode analyzers to symbol analyzers
* xunit/xunit.analyzers#145 - Rewrite AssertUsageAnalyzerBase as an IOperation analyzer

[2020-07-27 18:44] mikkelbu opened #271 "Documentation: Add section for each analyzer on how to configure severity using an .editorconfig file"
Something like

### Via .editorconfig file
[code]

We should also remove the ending period from the existing headers
* Via ruleset file.
* Via #pragma directive.
* Via attribute [SuppressMessage].

[2020-07-27 18:56] mikkelbu opened #272 "Enforce coding standard more strictly"
Increase severity of "suggestion" and "none" to "warning". See https://github.com/nunit/nunit.analyzers/pull/264#discussion_r460432710 and the rest of the thread for context.

[2020-07-27 23:35] Dreamescaper commented on #270
I'd suggest to add some benchmarks beforehand to be able to track the differences.

[2020-08-03 19:56] #197 closed

[2020-08-05 22:46] mikkelbu commented on #147
Resolved by #265

[2020-08-05 22:46] #147 closed

[2020-08-06 06:29] chm-tm opened #273 "NUnit2003: Add code fix with less explicit overload for testing if something is true"
Consider changing

to

I prefer less words if possible, and consider the shorter overload perfectly readable.

Perhaps it's possible to provide two code fixes for everyone's taste.

Thanks for that great tool, guys!

[2020-08-06 09:06] manfred-brands commented on #273
It would result in inconsistent code compared to checking for false which cannot be shortened without changing 'expr'.

[2020-08-06 09:25] chm-tm commented on #273
Isn't this just a matter of taste as I already stated above, @manfred-brands? _Inconsistent_, of course, sounds bad. I'd call it asymmetric at worst. It's as asymmetric as it'd be in a simple `if` statement: `expr` vs `!expr`.

I've changed the title in order to not force a judgement of the two approaches.

[2020-08-06 11:41] chm-tm opened #274 "NUnit2021 fires on delegates"
[code]
The test actually succeeds.
NUnit2021 isn't expected to fire on `x`.

[2020-08-06 14:34] manfred-brands commented on #274
This is related to #258 It goes wrong in the same method. It tries to get the return type of the delegate which is void.

My changes don't break any of the existing unit test and solve the new test I added for your use case.

I just raised a PR for the fix.

[2020-08-06 14:37] jnm2 opened #276 "SameAs should warn if used with value types"
Motivation: https://github.com/nunit/nunit/issues/3614#issuecomment-669962745

If either the expected value or actual value or both are a value-typed expression, `Assert.AreSame` or `Is.SameAs` are guaranteed to fail because C# will implicitly convert the value type to a new boxed instance. It doesn't make sense to use AreSame/SameAs unless the types of the passed expressions are both reference ty

[2020-08-06 15:05] manfred-brands commented on #276
I will work on this over the weekend.

[2020-08-06 15:37] manfred-brands commented on #273
I implemented this for you:
![image](https://user-images.githubusercontent.com/8655218/89550891-cdc37e80-d83c-11ea-8e17-fbe2621ad1ee.png)

[2020-08-06 16:07] manfred-brands commented on #276
Analyzer and UnitTest done. Code Fix pending.

[2020-08-06 19:29] #274 closed

[2020-08-07 14:28] #273 closed

[2020-08-08 02:04] manfred-brands commented on #276
Code Fix and documentation done.

[2020-08-10 18:25] Dreamescaper commented on #270
I'll take a look at this part.

[2020-08-11 00:34] manfred-brands opened #279 "Augment SameAsIncompatibleTypes and EqualToIncompatibleTypes to apply for more cases"
The `Assert.That` constraints work on type `object` and the compiler doesn't detect comparing non-matching types.
The rules `SameAsIncompatibleTypes` and `EqualToIncompatibleTypes` made a good start on this but there are many other asserts.

This ticket is to augment these rules to:
* Work on more asserts, such as `Is.GreaterThanOrEquals` etc.
* Work on classic asserts, like `Assert.AreEqual`

The

[2020-08-11 00:34] manfred-brands commented on #279
I will work on this.

[2020-08-11 07:23] chm-tm opened #280 "Consider overload resolution when transforming to comparison constraints"
Consider the struct `MyFloat`:

[code]
Now consider the following test code:
[code]
The first Assert succeeds, but the second Assert fails with the following message:

While this is a good indication for `MyFloat` to add some functionality, like to implement `IComparable`, the second Assert is semantically different to the first one.

The expected transform is this one:
[code]
That is, the code fi

[2020-08-11 08:08] manfred-brands commented on #280
On the other hand you could say that the Is.LessThan and Is.EqualTo, etc. could utilise the implicit cast.
There is a ticket https://github.com/nunit/nunit/issues/2891 for types that implement IConvertible but it was closed without a fix.

But a code fix should not cause tests to fail.
I will see if the conversion can find out the actual overload of the classic method to account for implicit cast

[2020-08-11 08:20] chm-tm commented on #280
I imagine this could be quite a big amount of work to get this right everywhere. It could also be rendered superfluous if the framework implementation changes at a later time.
An alternative approach would be to add a note about possible semantic differences to the _How to fix violations_ section of each of the respective analyzers.

[2020-08-11 08:31] manfred-brands commented on #280
If you use `Assert.That(x, Is.EqualTo(y));` then NUnit2021 fires complaining the types are not compatible. I'm actually working on #279 which would then cause this to fire for Is.Less etc as well.

[2020-08-11 12:44] manfred-brands commented on #280
OK, I managed to create a generic solution.

[2020-08-11 21:19] #276 closed

[2020-08-16 14:38] #280 closed

[2020-08-16 20:26] Dreamescaper commented on #270
I'll work on TestCaseUsage and TestCaseSourceUsage analyzers (to migrate either to IOperation, or symbols analyzers).

[2020-08-25 18:35] #279 closed

[2020-08-25 19:12] mikkelbu commented on #270
Closed by #282 and #285

[2020-08-25 19:12] #270 closed

[2020-08-28 21:09] #20 closed

[2020-08-29 01:05] manfred-brands opened #288 "Add FxCop Roslyn analyzer"
As a follow up on StyleCop

[2020-08-29 18:28] #271 closed

[2020-09-02 05:06] manfred-brands opened #290 "Not treating Func<T> and Action properly for type compatibility."
The `UnwrapActualType` results in the return type for every delegate.
However NUnit doesn't always evaluate its _actual_ parameter.

[code]

Only the last one actually calls the _function_, but we do also evaluate the first.

The same method is called for the other rules testing for incompatible types.

[2020-09-03 20:09] #288 closed

[2020-09-03 20:49] mikkelbu commented on #290
I'm a bit tired, so I'm probably overlooking something :), but I just tried this out and if I paste
[code]
into three different tests (one for each `Assert`), then the second does not compile - complains with

* `CS1662 - Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the delegate return type`
* `CS0428 - C

[2020-09-03 21:08] mikkelbu commented on #290
I can "avoid" calling `function` by explicitly calling the `That<TActual>(TActual actual, IResolveConstraint expression)` overload
[code]

[2020-09-03 23:56] manfred-brands commented on #290
@mikkelbu I should not have changed the 'code' in the ticket from the code that causes the issue as shown in the PR.

    bool functionCalled = false;

    Func<bool> function = () =>
    {
        functionCalled = true;
        return false;
    };

    Assert.That(function, Is.Not.Null); // Incorrectly shows NUnit2023
    Assert.That(functionCalled, Is.False);

    Assert.That(() => function, Is

[2020-09-04 19:25] mikkelbu commented on #290
No problem. I looked at the PR after writing the first comments. I'll take a closer look at the code now.

[2020-09-05 01:04] manfred-brands commented on #231
Note that StyleCop will flag this with [SA1133](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1133.md): Do not combine attributes. It includes a code fix to separate them.

[2020-09-05 21:05] jnm2 commented on #231
The goal with this one would be to fill a gap that isn't currently being filled.

[2020-09-05 23:57] #290 closed

[2020-09-09 19:03] #210 closed

[2020-09-09 19:14] mikkelbu opened #293 "Make diagnostic's severity consistent"
The following is extracted from https://github.com/nunit/nunit.analyzers/pull/292#issuecomment-689230791 and I agree with the suggestions

[2020-09-09 19:35] mikkelbu commented on #293
I went through all the current diagnostics, and the following is my questions/comments (but I very much welcome input and comments):

* Should NUnit1028 - "The non-test method is public." be info instead of warning?
* The following should be errors and not just warnings:
  * NUnit2020 - "Incompatible types for SameAs constraint."
  * NUnit2021 - "Incompatible types for EqualTo constraint."
  * NUn

[2020-09-10 02:25] manfred-brands commented on #293
Inside the nunit-analyzer code base there was a public method which was supposed to be a test, but did not have an attribute.

This therefore would fall into the category of `potentially wrong`. On the other hand if the method was not a test method with a forgotten attribute it would be fine. The default for this rule is disabled in order not to confuse developers that use public non-test methods.

[2020-09-12 15:30] mikkelbu commented on #293
Currently, there is no plans of dropping classic support, even though we primarily - perhaps only - add functionality to the constraint variant.

Regarding NUnit2038-NUnit2039 and NUnit2027-NUnit2031 then my reason for making these into warnings is to be consistent with NUnit2005 and NUnit2006 (avoiding the usage of `Assert.AreEqual(expected, actual)` and `Assert.AreNotEqual(expected, actual)` as

[2020-09-12 23:50] manfred-brands commented on #293
Yes, I have seen several people swap `actual` and `expected` in the `AreEqual` variants. So having these are warning is a good thing.
Then change all other classic ones to suggestions.

[2020-09-17 08:45] Dreamescaper opened #294 "Add diagnostic when Is."

[2020-09-17 08:47] Dreamescaper opened #295 "Add diagnostic when Is.AnyOf is used with single non-array argument"
See https://github.com/nunit/nunit/issues/3633 .
Probably should have error severity.

[2020-09-17 08:55] #294 closed

[2020-09-24 19:06] mikkelbu commented on #191
Closed by #263

[2020-09-24 19:06] #191 closed

[2020-09-25 14:39] Overclock303 commented on #231
Ordering fixtures with multiple attributes would be a real ++ bring to NUnit. I know about how C# works with brackets and about class instance, but...
I use the framework for business cases with logical sequences, multiple browsers, and it definitly break the way i want to use it. So, i m under limitations atm. I expect a fix in a next release.

[2020-09-27 15:34] jnm2 commented on #231
@Overclock303 It sounds like you're asking for a new feature in NUnit. https://github.com/nunit/nunit/issues would be the place to track that.

[2020-09-29 21:40] #293 closed

[2020-10-02 11:29] chm-tm opened #300 "NUnit2041 false positives"
Given test body
[code]
with
[code]
All constraint arguments have false positive NUnit2041 errors.

[2020-10-02 12:08] manfred-brands commented on #300
I have no access to a PC this week (holiday), can you check whether it also fails when C implements IComparable<float>?
I presume they all run in unit?
Not sure if I want the last one to not complain? It happens to be comparable at runtime, bit of you assign something else to ox/oy it could fail.

[2020-10-02 12:15] Dreamescaper commented on #300
As far as I remember, both those cases were known during implementation, but it was decided that they are rare, and chance of false-positive is very low. Apparently they're not.

@manfred-brands
We have `object` as an exception in lots of analyzers exactly because of relatively high false-positive chance. Probably same could be done here.

[2020-10-05 05:20] chm-tm commented on #300
@manfred-brands Yes it's in NUnit. I've updated (and corrected) the sample to let `C` also implement `IComparable<C>`.

[2020-10-05 06:09] chm-tm commented on #300
I'd be OK to go with a `#pragma warning disable` here, since you should now what you're doing in these rare cases.
I actually have had two false positives.

One is in the tests for a float-like struct like `C`. I corrected the `C` to `float` comparison by casting the `float` variable to `C`. This makes the test better understandable, since it now tests only the comparison. I can test the conversio

[2020-10-06 03:14] manfred-brands commented on #300
I noticed that the code cannot handle type parameter constraints (I will fix that):

[code]

[2020-10-06 04:31] manfred-brands commented on #300
@chm-tm Your first use case "`Assert.That(y, Is.GreaterThan(x))`" works in nunit (by chance), but is not in the spirit of [IComparable](https://docs.microsoft.com/en-us/dotnet/api/system.icomparable.compareto?view=netcore-3.1) which states:

The interface definition even states that the implementation should throw an `ArgumentException`

As `x` is not the same types as `y` this is explicitly flagg

[2020-10-06 06:24] chm-tm commented on #300
Thanks for your investigation. After having read it, I'm OK with the analyzer and its severity regarding the use case "`Assert.That(x, Is.LessThan(y))`".

I'd also leave the current implementation in case of objects. Though I previously voted for lowering the severity to warning by default, the code is certainly more readable with an extra `IComparable` cast or declaration, if needed, than with a

[2020-10-12 10:01] Dreamescaper commented on #300
@manfred-brands
Considering that this diagnostic has Error severity, I don't agree that its aim is to write better code - it is to block invalid code.
And we have no ability to determine whether code is valid or not in case of `object` arguments.

[2020-10-14 21:18] ssg opened #302 "False positive NUnit1004 for test functions that receive array parameters"
The code below causes NUnit1004 to be fired incorrectly on v0.5.0, except with the case where array has only a single element:

[code]

This doesn't happen on 0.4.0.

[2020-10-14 21:36] Dreamescaper commented on #302
Thanks for reporting the issue, will take a look.

[2020-10-15 19:18] mikkelbu commented on #302
Thanks for the bug report @ssg. I'll take a look at the PR now.

[2020-10-15 19:35] #302 closed

[2020-10-15 20:43] ssg commented on #302
Wow this was fast, thank you everyone!

[2020-10-22 04:19] stevenaw commented on #295
I really like this idea.

Would this only apply for collection types, or scalars too? I'm thinking of something like below:

[code]

If it is for collection types, would it make sense to add a fixer to convert it to use `Does.Contain()` instead?

[2020-10-27 11:29] adamvlasak opened #304 "Unable to compile test project when classlib with TestCaseSources is referenced"
Hi,

I am trying to use NUnit.Analyzers and also TestCaseSource attribute documented on

- https://docs.nunit.org/articles/nunit/writing-tests/attributes/testcasesource.html
- https://docs.nunit.org/articles/nunit-analyzers/NUnit1011.html

I have prepared public gist showing the behavior I get while using classlib in test project solution. Maybe I am doing something wrong but I rather tell you abo

[2020-10-27 11:45] Dreamescaper commented on #304
Certainly looks like a bug.
Will take a look.

[2020-10-27 11:52] Dreamescaper commented on #304
@adamvlasak
I exactly followed your steps, but cannot reproduce this issue.
[code]
Could you share your example project as .zip archive?

[2020-10-27 11:58] adamvlasak commented on #304
[foobar.zip](https://github.com/nunit/nunit.analyzers/files/5445050/foobar.zip)

[code]

[code]

[2020-10-27 12:10] Dreamescaper commented on #304
I see.
We haven't tested for case when data class is located in different assembly.
Interestingly enough this diagnostic does not appear in VS, only during build - probably it is able to resolve source information inside VS.

[2020-10-27 12:14] adamvlasak commented on #304
Yeah in VS2019 if you start building the solution you get NUnit1011 errors in both Error List and editor but when you click on one item in Error List it will disappear. That's why it was confusing for me.

[2020-10-28 08:10] Dreamescaper commented on #295
I wouldn't suggest it, as it has slightly different semantics.
`Assert.That(actual, Is.AnyOf(expectedCollecion));`
`Assert.That(actualCollection, Does.Contain(expected))`
As you can see actual and expected arguments are switched places.

[2020-10-28 16:59] stevenaw commented on #295
Thanks @Dreamescaper
I understand the arguments would need to be swapped, but I don't really understand the complexity or risks involved in doing that programmatically. Are you saying it might be more complicated than it's worth?

[2020-10-29 20:47] Dreamescaper commented on #295
@stevenaw
It's not hard to swap argument, it's just it will give assertion another meaning.
[code]
In this case first argument is the value I'm verifying, not vise versa. And if I simply switch argument places:
[code]
I get swapped arguments, which is incorrect (e.g. NUnit will log my `expectedValues` as Actual in case of failure).

[2020-10-29 22:11] stevenaw commented on #295
Ohh. Right, of course. That makes sense. Thanks for explaining @Dreamescaper !

[2020-11-02 15:29] tupacko opened #306 "NUnit2022 rule has false positive on hierarchies when using And"
Hello,

it seems that the rule NUnit2022 has a false positive in case there are second level Prefixes (like another Property) applied. I say false positive, because with the analyzers not installed or disabled, the test runs as expected.

NUnit.Analyzers version: 0.5.0
NUnit: 3.12.0
Visual Studio 2019: 16.7.7

Given the following structure:

[code]

Given the assert for an instance of SomeClass:

[2020-11-02 17:25] tupacko opened #307 "NUnit1011 Issue in the Output window while compiling"
Hello,

there seems to be an issue with this rule https://docs.nunit.org/articles/nunit-analyzers/NUnit1011.html

NUnit.Analyzers version: 0.5.0
NUnit: 3.12.0
Visual Studio 2019: 16.7.7

I also created a project showing the issue: https://github.com/tupacko/NUnit1011TypeInOtherAssemblyBug Basically, if the Type the TestCaseSource references is in another Assembly, the rule raises false positive. W

[2020-11-02 18:23] Dreamescaper commented on #307
Duplicate of #304

[2020-11-02 18:57] #304 closed

[2020-11-02 19:00] mikkelbu commented on #304
This should be solved in the next release. A prerelease containing the fix can be found at https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers/0.6.0-dev-00594 (and newer versions).

[2020-11-02 19:02] mikkelbu commented on #307
This should be solved in the next release. A prerelease containing the fix can be found at https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers/0.6.0-dev-00594 (and newer versions).

[2020-11-02 19:02] #307 closed

[2020-11-02 19:54] tupacko commented on #307
Thank you for the update! I'll check out how was it fixed :)

[2020-11-12 23:29] mikkelbu commented on #300
Sorry for the lack of activity, but I've been (too) busy the last month. On the question of whether we should report an error when comparing `object` arguments, then I agree with @Dreamescaper and think it makes sense to special case this situation, as we have no knowledge about the runtime behaviour.

I'll see if I can get some of the content of this issue into the NUnit2041 documentation.

[2020-11-13 00:50] manfred-brands commented on #300
I actually just made time to address this, like @mikkelbu I was too busy.

[2020-11-13 01:54] manfred-brands opened #308 "NUnit1028 false positives"
The code fires on `override` method where the `[Test]` attribute is set on the base class' method definition.

[2020-11-13 19:12] Numpsy opened #311 "NUnit1028 vs. IDisposable"
Hi,

If you have a test fixture that implements ```IDisposable```, then the test runner will call ```Dispose()``` after running the tests.

If you have a fixure like that and run the nunit analyzers, you get an NUnit1028 warning on the Dispose() function:

![image](https://user-images.githubusercontent.com/1178570/99111013-3ca23780-25e3-11eb-80d6-b9256da0d97b.png)

I was just wondering if it would

[2020-11-14 00:28] manfred-brands commented on #311
Yes, I noticed that yesterday myself. Will make a fix shortly.

[2020-11-14 01:42] manfred-brands commented on #311
I added the changes for this to an existing PR (#310) for this rule.

In the mean time there is a workaround you can use by declaring the `Dispose` explicit:
[code]

[2020-11-15 04:47] chinwobble opened #312 "NUNIT1003 false positive"
When you create test case that accepts an array it then it fails with NUNIT1003 incorrectly.

[code]
This analyzer should only fail if `new object[] { }` is supplied.

[2020-11-15 05:25] manfred-brands commented on #312
I cannot repeat this here, I get no NUnit1003 for neither of the two attributes,  What version of nunit.analyzer are you using?

[2020-11-15 06:05] chinwobble commented on #312
Here are the versions I'm using
[code]

[2020-11-15 11:27] manfred-brands commented on #312
Yes, version 0.5.0 is broken, it works in 0.4.0 and it has been fixed in the current master branch.

[2020-11-15 20:10] mikkelbu commented on #312
Sorry about the inconvenious @chinwobble. I think @manfred-brands is right about this duplicating #302. I'll see if I have time to make a release this week, as we already have solved some bugs in the current master.

[2020-11-15 20:34] Numpsy commented on #311
thanks

[2020-11-15 20:56] Dreamescaper commented on #306
I'll take this one

[2020-11-15 22:04] Dreamescaper commented on #306
@tupacko
Please provide example project.
I'm trying to reproduce your error, but the Assert itself fails for me.
[code]

[2020-11-15 22:38] Dreamescaper commented on #306
I've added a fix for issue with All/Some operators, but have no idea whether it's actually same issue.

[2020-11-16 02:09] manfred-brands opened #314 "Add Microsoft.CodeAnalysis.Analyzers"
This analyzer will detect possible issues in the nunit.analyzer code itself.

[2020-11-16 09:20] manfred-brands commented on #312
@mikkelbu Have you ever thought of having releases created automatically as soon as something is merged into master? That way users don't have to wait for a manual operation and it would save you time as well.

[2020-11-16 11:16] tupacko commented on #306
Hello,

I'll create an example project and post it here. Thank you for trying to fix the issue 👍

Alpár

[2020-11-16 16:42] tupacko commented on #306
Hello,

I edited the original assert, a `Some` was missing from before `TypeOf`. Also, I've created a test project with 4 tests exemplifying on the same data four different asserts. All are passing with NUnit 2022 disabled or without installing NUnit.Analyzers. Two of them are false positives in my understanding.

https://github.com/tupacko/NUnit2022HierarchyFalsePositive

Kind regards,
Alpár

[2020-11-16 16:54] Dreamescaper commented on #306
So the fix that I've applied will help in those cases - simply because I'm disabling analyzer at all if Any/Some operator is present (we don't support it ATM).

There's another issue however. Problem is that 'LeafProperty' is not known at compile time.
So it would still trigger for something like this:
[code]

@mikkelbu
Do you think it makes sense to do anything about that? We could probably try f

[2020-11-16 17:16] tupacko commented on #306
Maybe instead of error, the severity level could be warning if the class is not sealed. I mean, if `InnerListClass` would have been sealed, there is no chance of any derived class having (adding) that property.

I don't know what performance implication would it have to figure out whether the "runtime" instance will have/could have such a property. If at all possible at compile time.

[2020-11-16 17:22] Dreamescaper commented on #306
It is possible to get all inherited types, and we already do that for some analyzers, but I'm not sure whether it makes any sense.
For example, one of the main use cases for this analyzer is to warn against `Has.Count` usage on `IEnumerable` actual argument. It won't work if we start looking at all inherited classes, as technically it might be `List` actual runtime type.

[2020-11-16 21:04] #300 closed

[2020-11-16 21:06] mikkelbu opened #316 "Improve NUnit2041 documentation"
See discussion and idea here - https://github.com/nunit/nunit.analyzers/issues/300#issuecomment-704057903

[2020-11-16 21:51] #308 closed

[2020-11-16 21:51] #311 closed

[2020-11-17 00:14] manfred-brands opened #317 "Constraint Expressions ignore operator"
The constraint expression treats all operators as `And`:

[code]

This raises NUnit2022: _has no property 'Fiz'_

The source code in `ConstraintExpression.SplitConstraintByOperators` looses the actual operator.

[2020-11-17 00:18] Dreamescaper commented on #317
It it certainly shouldn't be an error, but still i would say that second part of an assert expression is pointless, and we should notify about that.

[2020-11-17 00:37] manfred-brands commented on #317
How do you mean pointless? If we want to test that something has one of two properties, e.g. either `Length` or `Count`?
I agree I don't have a practical use case, but unfortunately NUnit supports all kind of combinations:

[code]

Note that the `No` constraint is not recognized, we actually silently ignore this.

[2020-11-17 07:27] Dreamescaper commented on #317
I mean - the only valid case I can think of is asserting polymorphic argument, i.e. checking actual argument for properties unknown at runtime.
Otherwise - what's the point of second constraint part if it's never true?

And polymorphic case is a slightly different problem, which I'm not sure how to handle properly (mentioned it here https://github.com/nunit/nunit.analyzers/issues/306 ).

[2020-11-20 23:46] chinwobble commented on #312
thanks hopefully it can be released soon.

[2020-11-21 21:32] mikkelbu commented on #312
@manfred-brands We have prereleases for each build on master, but they are on myget - https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers - for historical reasons (as I mimicked the build scripts etc. after how they were structured in the NUnit repo - and possibly also the Console repo.

Perhaps we should consider to have both the regular release and the prereleases on nuget.o

[2020-11-21 23:51] mikkelbu commented on #306
I think for now that would be overkill and as you say this could lead to wrong results.

[2020-11-22 00:00] #306 closed

[2020-11-22 03:32] manfred-brands commented on #317
I think that is the only real use case for the NUnit Has.Property. If the property was known at compile time, there is no need for testing. Having said that, that would make the NUnitAnalyzer rule checking for existence of the property useless as we should not known the answer.
For most other NUnitAnalyzer rules, the operator is not relevant, e.g. when checking the type.

[2020-11-22 03:32] #317 closed

[2020-11-22 23:12] mikkelbu commented on #317
I've seen people use `Has.Property` to test a given property instead of extracting it as part of the `actual` value. E.g. something like
[code]
But I agree that this analyzer is primarily useful for specific constraints, like `Has.Count`, and not for the general `Has.Property`.

[2020-11-22 23:12] mikkelbu commented on #218
Some more information. I found the following comment in nunit/nunit#2524

[2020-11-22 23:16] #314 closed

[2020-11-23 06:37] Dreamescaper commented on #317
@mikkelbu So do you think we should remove Has.Property support from analyzer?

[2020-11-23 06:43] Dreamescaper commented on #218
That's probably true for Property constraint, but not for all of them (e.g. All operator has higher precence than Or or And operators).

To resolve this completely we probably need to store precedence values for each analyzer, and resolve applied operators for each constraint part based on precedence.
But that doesn't sound easy.

[2020-11-23 20:12] mikkelbu commented on #218
I very much agree that it does not sound easy and I also think/guess that most people don't use very complicated constraints that often.

Personally, it is very rare that I use anything more fancy than `Is.Not.Null.And.Not.Empty`, as I tend to prefer multiple (individual) constraints that are easier to read and understand.

[2020-11-23 20:23] Dreamescaper commented on #218
Yeah, agree.
Still we should not allow false positives.
Currently we handle such cases on each analyzer separately, maybe makes sense to make it centralized (e.g. in some base class).

[2020-11-23 20:28] mikkelbu commented on #317
Or perhaps it should only report the diagnostic if we can be sure that the actual object does not have the requested property, i.e. if the actual object is a sealed class or a struct.

[2020-11-23 20:31] Dreamescaper commented on #317
Makes sense.
What about Has.Count constraint?
Are we ok with false positive chance when this property is not known on compile time?

[2020-11-23 21:13] #312 closed

[2020-11-24 23:49] jnm2 opened #320 "Incorrect NUnit1011 when TestCaseSource references a base class member"
Repros in 0.4.0–0.6.0, not present in 0.3.0

[code]

[2020-11-24 23:56] jnm2 commented on #320
The analyzer should follow NUnit's requirements rather than C# visibility rules. This might matter if the base class member is internal, protected, private, etc.

[2020-11-27 10:04] manfred-brands commented on #320
@jnm2 I added detection in base class, as long as the member is not declared private. Let me know if you think NUnit's visibility is different. I couldn't find it at [TestCaseSource](https://docs.nunit.org/articles/nunit/writing-tests/attributes/testcasesource.html)

[2020-11-27 13:55] jnm2 commented on #320
@manfred-brands We should follow the behavior of https://github.com/nunit/nunit/blob/3a47c23b9fb85cdabac6ef73179751496e659a64/src/NUnitFramework/framework/Attributes/TestCaseSourceAttribute.cs#L247. IIRC, FlattenHierarchy doesn't bring private members from the base class even though NonPublic is specified, but I can't remember what it does with e.g. protected members. Would you like me to check?

[2020-11-27 14:00] jnm2 commented on #320
I also don't mind it being a linter-like warning along the lines of: even though this works it's best practice to model test case sources as public conceptually to make them available to a hypothetical caller. In other words, more restrictive on visibility than NUnit is. But we might still prefer to show the error rather than the warning when we know for sure that there will be a runtime error.

[2020-11-28 11:36] pantosha opened #322 "NUnit2021 false positive for IEquatable<T>"
NUnit2021 fires when different types `T1` and `T2` are compared, but `T1` implements `IEquatable<T2>`:

[code]

[2020-11-28 11:50] Dreamescaper commented on #322
I'll take a look

[2020-11-29 02:28] manfred-brands commented on #322
@Dreamescaper This is similar to the code for `IComparable<T>`. See ComparableTypesAnalyzer.IsIComparable.

[2020-11-29 02:43] manfred-brands commented on #320
@jnm2

This code explicitly checks for _instance_ members. Despite that the documentation says it *must* be static. Later on it throws when the returned member is non-static.
`FlattenHierarchy` will return `public` and `protected` members.

My PR searching up the hierarchy ignoring `private` members matches this.

[2020-11-29 03:44] jnm2 commented on #320
@manfred-brands Very cool, thanks for checking that! I was ignoring the part about instance members for the sake of the question.

I tested whether NUnit let the test pass when the base test case source had these accessibility modifiers, just to be sure that I understood the reflection code I was seeing. This was the result:
✔ `public`
✔ `internal`
✔ `protected`
✔ `protected internal`
✔ `private p

[2020-11-29 07:38] manfred-brands opened #323 "Update to latest GuOrg.Roslyn.Asserts"
We are behind and the current code doesn't fail if there are actually compiler errors in the test code strings.

[2020-11-29 08:17] manfred-brands commented on #157
I'm looking into the use of a DiagnosticsSuppressor.

[2020-11-30 19:41] #320 closed

[2020-11-30 21:31] #323 closed

[2020-12-02 20:52] #322 closed

[2020-12-07 05:00] bretehlert opened #329 "Analyzer to warn against comparison operators in actual expression"
Add an analyzer or set of analyzers to warn against using comparison operators (`==`, `!=`, `>`, `>=`, `<`, `<=`) in the actual expression of `Assert.That`
For example, `Assert.That(value > 0, Is.True)` is bad, it should be `Assert.That(value, Is.GreaterThan(0))`

[2020-12-07 05:07] bretehlert opened #330 "Analyzer to warn against calling .Length or .Count() in the actual expression"
Add an analyzer or set of analyzers to warn against calling `.Count()` or `.Length` in the actual expression of `Assert.That`
For example, `Assert.That(value.Count(), Is.EqualTo(5))` should be `Assert.That(value, Has.Count.EqualTo(5))`

[2020-12-11 02:41] manfred-brands commented on #329
This would be an extension of NUnit2010 (EqualConstraintUsageAnalyzer) which already does this for `==` and `!=`.
Or a new rules based upon that if it gets to messy.
@mikkelbu You can assign this to me.

[2020-12-11 21:18] #157 closed

[2020-12-11 21:23] mikkelbu commented on #330
Yet another improvement could be to special case the empty collection, so `Assert.That(collection.Count(), Is.EqualTo(0))` becomes `Assert.That(collection, Is.Empty)`.

[2020-12-15 21:08] #329 closed

[2020-12-15 21:47] mikkelbu opened #332 "NUnit2026 shouldn't fire when CustomEqualityComparer is used"
The assertion below raises NUnit2026 `The 'Does.Contain' constraint cannot be used with actual argument of type 'string[]' and expected argument of type 'int'`, but there is no problem as we supply a custom comparer function. So if a custom comparer function is supplied to the constraint then we must not raise NUnit2026.

[code]

[2021-01-12 11:11] manfred-brands opened #333 "Add nullable suppression for Assert.Throws"
`Assert.Throws` is declared to return `Exception?`. It will return `null` if no exception is thrown. This is only relevant when run inside an `Assert.Multiple` call.
To prevent developers having to check for `null` in the trivial cases, add a suppression rule if no `Assert.Multiple` is detected.

[2021-01-12 11:12] manfred-brands commented on #333
Create from https://github.com/nunit/nunit/issues/3717

[2021-01-12 12:01] mikkelbu commented on #333
Thanks for the report @manfred-brands 👍. I saw the NUnit issue yesterday, but I've been too busy with work and homeschooling the last couple of weeks.

[2021-01-12 12:57] manfred-brands opened #335 "Move Constant code closer to actual rule"
We have now a directory called "Constants" which has files for all kinds of rules.
The files should be moved to the actual rule implementation directory so that all code for a rule is together.

[2021-01-12 12:59] manfred-brands opened #336 "Create a .NETStandard2.0 release"
We need to be able to release a .netstand2.0 release so that we actually release the `DiagnosticSuppressors`.
Current suggestion is to use 2 versions, with a different major version.

We need to update the build.cake script to run two 'pack' commands.

[2021-01-12 13:00] manfred-brands commented on #336
@mikkelbu Have you had any more thoughts on this?

[2021-01-12 17:57] mikkelbu commented on #336
@manfred-brands I had planned to do a release around new year with version 2.0 for the original build and 3.0 for the .netstand2.0 build, but the days have been packed with activities. I'll take a look at your PR, and then see if I can make time the coming days for a new release.

[2021-01-13 07:52] manfred-brands commented on #332
@mikkelbu I will look into this.

[2021-01-15 17:47] #333 closed

[2021-01-15 18:00] #332 closed

[2021-01-17 12:57] #335 closed

[2021-01-17 18:03] #336 closed

[2021-01-19 07:18] manfred-brands commented on #336
Thanks @mikkelbu

[2021-01-19 09:24] smkanadl opened #342 "Nullable suppression for Assert.Throws does not work in presence of a Assert.Multiple block"
With regards to https://github.com/nunit/nunit.analyzers/issues/333, I understand that the supression does not work inside an `Assert.Multiple` block. But I would have expect the following scenario to work, which I typically use for such cases.

[code]

If I remove the `Assert.Multiple` block, the warning is correctly suppressed.

[code]

Is this some limitation that could be removed?
I am using t

[2021-01-19 11:26] mikkelbu commented on #342
Without looking at the code I think we should be able to determine that the assignment happens outside the `Assert.Multiple`, but I'm unsure how much this will complicate the code.

[2021-01-19 12:05] manfred-brands commented on #342
Roslyn raises the 'possible null reference exception' on the line `Assert.That(e.Message, Is.EqualTo("Test'"));`.
The code then determines that this line is inside the `Assert.Multiple` and stops any search for the assignment and hence doesn't suppress. I will see if I can update the code to search for the assignment regardless.
@mikkelbu Please assign the ticket to me.

[2021-01-19 12:19] smkanadl commented on #342
@manfred-brands that would be great if it could be improved that way. Thanks for taking care!

[2021-01-19 12:22] mikkelbu commented on #342
Thanks @manfred-brands 👍

[2021-01-19 17:49] mikkelbu commented on #336
No problem. You did most of the work, I just had to find time to review and publish :)

[2021-01-20 04:28] manfred-brands opened #344 "Add a rule informing that .Within is not valid for non-numeric types."
See https://github.com/nunit/nunit/issues/3736

The nunit syntax allows:
[code]

But the `.Within` part is completely ignored. Only the NumericEquals and TupleEquals will use it.

Add a rule warning the user when the `.Within` constraint is not valid.
Add a CodeFix to remove the constraint.

[2021-01-20 05:03] aayjaychan opened #345 "Nullable warnings should be suppressed for `Assert.Catch()`"
Nullable warnings for `Assert.Throw()` are now suppressed (#333). The same suppression should also be applied to `Assert.Catch()`.

The code:
[code]
current generates warning `CS8602 Dereference of a possibly null reference`.

[2021-01-20 09:55] manfred-brands commented on #345
And whilst we add it, also `Assert.ThrowAsync` and `Assert.CatchAsync`.
@mikkelbu Please assign to me.

[2021-01-20 10:19] mikkelbu commented on #345
Thanks @manfred-brands.

[2021-01-20 12:31] manfred-brands commented on #345
Added fix to #343

[2021-01-20 20:41] Antash commented on #344
I'll try to take care of this

[2021-01-25 21:37] #342 closed

[2021-01-25 21:37] #345 closed

[2021-01-31 10:27] mikkelbu commented on #120
I'm closing this for now. The only times I've run into similar problems are when I've had some old data in the VS cache. The trick have always been to clear the entire `.vs` folder.

[2021-01-31 10:27] #120 closed

[2021-02-07 03:04] manfred-brands opened #353 "Replace deprecated FxCopAnalyzer with NetAnalyzer"
The FxCopAnalyzers are marked as Legacy and no longer maintained as mentioned on:
https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/
And will trigger CA9998 as mentioned on: https://github.com/dotnet/roslyn-analyzers/releases/tag/v3.3.2

[2021-02-11 00:02] manfred-brands commented on #344
@Antash How are you going with this, need any help? You can raise a draft PR for us if you would like us to look at your work.

[2021-02-11 01:06] manfred-brands opened #357 "Warns about passing a non-lambda to Throws assertions."
People sometimes write `Assert.That(MyMethod(), Throws.InstanceOf<SomeException>());`  and wonder why it fails.

We need an analyzer rule that detects this and with code-fixes that convert the code to:
`Assert.That(() => MyMethod(), Throws.InstanceOf<SomeException>());`

[2021-02-11 01:07] manfred-brands commented on #357
@mikkelbu You can assign this to me.

[2021-02-11 15:25] mikkelbu commented on #357
Thanks @manfred-brands

[2021-02-11 21:30] #353 closed

[2021-02-14 03:29] manfred-brands commented on #149
It is a pity that in the new constraint syntax we loose any compiler type constraints to prevent these. Like #357.
I will see if I can augment #359 to check for more cases than Throws.

[2021-02-14 10:28] manfred-brands opened #360 "NonNullableFieldIsUnintializedSuppressor doesn't recognize ExpressionBody"
If a [SetUp] method is a single expression body, the assignment is not detected.

[2021-02-14 15:19] Antash commented on #344
@manfred-brands thanks for giving me a hand. I have almost zero experience with Roslyn and stuck a bit on the CodeFix. Most likely it will be very easy for you to advise how can I remove 'Within' node from the syntax tree.
Also, need to add more test cases.

[2021-02-15 12:01] #360 closed

[2021-02-16 00:08] manfred-brands commented on #149
Case 1 is addressed by #359
Case 2 might not look right, but NUnit will evaluate an ActualValueDelegate before the assert.

[2021-02-17 06:21] manfred-brands opened #363 "NonNullableFieldIsUninitializedSuppressor fails when there is a constructor"
The rule works find when there is no constructor at all, as in most NUnit tests.
It fails when there is one, with arguments from a `TestFixtureAttribute` which does not set all non-nullable fields.

When there is no constructor, the error is reported against the field.
When there is a constructor, the error is reported against the constructor.

[2021-02-17 20:46] #149 closed

[2021-02-17 20:46] #357 closed

[2021-02-21 21:19] #363 closed

[2021-03-03 10:11] manfred-brands opened #368 "Extend NonNullableFieldIsUninitialized to also work for properties."
The situation when a base class fixture sets a protected non-nullable property in its SetUp method.

[2021-03-03 13:32] #368 closed

[2021-04-29 21:49] ssg commented on #119
This happened to me too with NUnit.Analyzers 3.1.0. (It has never happened with previous versions)

[2021-04-30 14:30] mikkelbu commented on #119
@ssg I guess this was not in VS 2019 RC 3 as in this issue?

Usually, these kinds of errors occur when one update between versions as VS (sometimes) keep references to the old version in caches etc. Does it solve the problem if you clean up all the build output from VS (e.g. remove `.vs`, `bin`, `obj` folders) and then restore the nuget package. If you use git then e.g. a `git clean -xdf` to remov

[2021-05-01 02:02] ssg commented on #119
No, this is VS 16.9.4, and you were right; cleaning `.vs/` folder fixed the issue, thanks!

[2021-06-22 12:51] JasonBock opened #380 "NUnit2010 and `EqualConstraint`"
I have a class that implements `IEquatable<T>` as well as the `==` operator. I want to write a test that uses the constraint model that will test both paths: `x == y` and `x.Equals(y)`. If I do this:
[code]
I get the NUnit2010 warning, and since I have `TreatWarningsAsErrors` set to `true`, this stops the compiler. I understand why this is being reported, but I'm wondering if `EqualConstraint` cou

[2021-06-22 13:32] mikkelbu commented on #380
NUnit2010 should not report a warning, only a message with "Information" as severity.

Instead of `#pragma warning disable` couldn't you "remove" the diagnostic, if you extract the result into a variable - e.g.
[code]

I can see that it is problematic that the refactoring suggest changing the code into `Assert.That(x, Is.EqualTo(y));` which has a different meaning, but I'm unsure if we can do bett

[2021-06-22 14:42] JasonBock commented on #380
I keep forgetting that I'm overtly aggressive with analyzer severity settings. I turned all of the NUnit ones to `error` in my .editorconfig :)

Totally understand about if there's not much to do at this point. I'll put an feature issue in the NUnit repo as something to consider if that C# feature is included.

And to be clear....I may have talked to the NUnit team members to start an analyzers pr

[2021-06-22 14:45] #380 closed

[2021-08-04 01:44] rprouse opened #381 "Update Code of Conduct"
See https://github.com/nunit/governance/issues/41

The .NET Foundation now has a standard [code of conduct](https://dotnetfoundation.org/about/code-of-conduct) for all projects and the [markdown file](https://github.com/dotnet-foundation/website/blob/main/CODE_OF_CONDUCT.md) linking to it.

This standardizes the CoC across member projects but more importantly for us it provides an email address fo

[2021-08-20 16:14] smkanadl opened #385 "Supress (even more) 'Non-nullable field must contain a non-null value when exiting constructor (CS8618)'"
I started to migrate a larger codebase towards nullable reference types and the Analyzers are of great use. Many thanks for the effort so far!

The analyzer is already capable of suppressing simple cases where the variable is assigned within the `SetUp()` method explicitly (Case `someVariable`).

[code]

I was wondering if it is possible to detect some more complex cases (Case `someVariableThatGet

[2021-08-21 03:37] manfred-brands commented on #385
@smkanadl Thanks for the compliment.

I'm not in favour of the attribute, for two reasons:
1. It requires extra work by the developer.
1. It can easily get out of sync.

In your case nothing calls the `SetValue` method, it is not called from `SetUp`.
If the method is not called before every Test, there is a chance that one test doesn't call it and uses a `null` value without getting a warning.

I

[2021-08-21 07:13] smkanadl commented on #385
Hi, of course `SetValue` should have been called by `SetUp()`. I just forgot that and updated m example. Sorry for being that stupid.

I am not a big fan of the attributes either, so I completely agree/understand your arguments.

Is there a pre-release version to try out?

[2021-08-21 09:49] manfred-brands commented on #385
You can find the NuGet packages in the [build artifacts](https://ci.appveyor.com/project/mikkelbu/nunit-analyzers/builds/40467355/artifacts).
Copy the appropriate .nupkg file into a local nuget folder and add that folder as a nuget package source with:
`dotnet nuget source add <folder>`

I just tried that out and it works for a test project I made.

[2021-08-23 06:44] smkanadl commented on #385
Hi @manfred-brands,

I gave that version a try and it works(*). The suppression of the nullable warnings works perfect in the IDE, but in the build I still get the warnings and I even get warnings for direct variable assignments in the `SetUp()` (which worked before).

I have the strong assumption, that it is related to the warning that I also get in the output:
`AD0001	Analyzer 'NUnit.Analyzers.D

[2021-08-23 08:03] manfred-brands commented on #385
@smkanadl it is a pity that the exception doesn't actually say what the key is as that would give some indication where to look.

I managed to reproduce your problem.

The only Dictionary created in the Suppressor is the one of methods in the class. I assumed that the method names would be unique, but that is not the case when using parameter overloads.

[code]

This raises the complexity; I not o

[2021-08-23 09:46] smkanadl commented on #385
Yeah, thats one of my typical problems when it comes to standard dotnet exceptions.

Sounds good, although the details themself not :-/. I really appreciate the effort you put in and hope you will find a solution!

[2021-08-24 03:54] manfred-brands commented on #385
@smkanadl I have updated the code to recognized method overloads. Updated NuGet package [here](https://ci.appveyor.com/project/mikkelbu/nunit-analyzers/builds/40495543/artifacts)

[2021-08-24 06:17] smkanadl commented on #385
That one is working beautifully. And the overload detection code doesn't look too bad for me :-).

Again, many thanks!

PS: Is there a release date scheduled for 3.2?

[2021-08-24 08:24] manfred-brands commented on #385
That depends on @mikkelbu

[2021-08-28 14:34] #385 closed

[2021-08-28 14:35] mikkelbu commented on #385
I've just merged the PR. I'll try to make a release tonight CET aka in 4-5 hours.

[2021-09-29 11:46] SeanKilleen opened #389 "Idea: Suggest Assert.Multiple in tests where Assert statements are called back to back"
Just happened to be thinking -- a lot of folks don't know about [NUnit Multiple Asserts](https://docs.nunit.org/articles/nunit/writing-tests/assertions/multiple-asserts.html) and how it can be helpful in situations where you may want multiple distinct assertions that don't rise to the level of separate tests.

In tests that contain multiple asserts -- or where asserts exist one after another -- I

[2021-09-29 12:39] manfred-brands commented on #389
It would depend on whether those test are independent or not.
Not for:
[code]
Yes for:
[code]

How to determine that is the challenge.

[2021-09-29 12:47] mikkelbu commented on #389
@manfred-brands I was thinking in the same lines. We often have test like in the first case
[code]

I don't have that much experience with Assert.Multiple as we don't use NUnit at work, but I think the best approach would be to find good real life candidates of "sequences of asserts" were it would make sense to convert them to Assert.Multiple and then see if we can extract some "conservative" patt

[2021-09-29 13:35] SeanKilleen commented on #389
@manfred-brands I guess it's a matter of opinion. The way I teach test automation, the example you provide:

[code]

Should be represented as two separate tests, because you want to have the additional triangulation if something should not be operating as you'd expect.

However, if the tests _are_ related, we run into a problem -- what happens if both assertions will fail? If I fix the first asser

[2021-09-29 13:58] manfred-brands commented on #389
I agree that would be a good candidate for an initial version.

[2021-10-14 07:26] manfred-brands opened #392 "Replace netcoreapp2.1 for test with netcoreapp3.1"
netcoreapp2.1 is [out of support](https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on-august-21-2021/)

We should update the 'nunit.analyzers.test' project to target netcore3.1 as being the next LTS release.

[2021-10-14 18:14] SeanKilleen commented on #389
Nice! 🎉

[2021-10-14 18:31] #392 closed

[2021-10-14 18:32] mikkelbu commented on #392
(also this kind of task fits very well with what I can manage at the moment).

[2021-10-30 03:07] manfred-brands opened #397 "Allow using C# 9"
@mikkelbu Would you be willing to accept a PR to change language version to C#9.
This does not affect runtime as most of it is syntax compiled to the same IL.

However it allows replacing: `!(instance is null)` with `instance is not null` which is far more readable.

We also can remove repeating long generic types with targeted new expression:
[code]

Becomes
[code]

[2021-10-30 04:21] manfred-brands opened #398 "Ensure all NunitFrameworkConstants are tested"
I seem to have added constant to the NunitFrameworkConstants class, but not every time the corresponding test.

Updated tests and add methods to ensure that in the future when a new name is added, the build fails if the corresponding test entries is not added as well.

@mikkelbu You can assign this to me.

[2021-11-01 07:56] mikkelbu commented on #397
I don't mind bumping to C# 9 syntax, and I agree with respect to the `is not null` syntax is much more readable (I thought at about this when reviewing #395, but thought that we would solve this in the future).

Regarding "targeted new expression" then I don't mind it for declaration as the one in the example above as the types are close together, so it is easy to see the type we are instantiating

[2021-11-01 15:29] manfred-brands commented on #397
I have a branch ready, but it is on top of #395 as it fixes those `is not null` cases.
Once that is in master, I will raise this PR.

[2021-11-01 22:44] mikkelbu commented on #397
Great. I completely overlooked that you had pushed changes to #395, but the weekend was also packed with activities. I'll try to take a final look at #395 tomorrow.

[2021-11-02 19:15] #330 closed

[2021-11-04 09:23] #398 closed

[2021-11-05 11:44] #397 closed

[2021-11-25 11:52] yaakov-h opened #407 "NUnit2022 false-positive on generic Dictionary type"
![image](https://user-images.githubusercontent.com/426009/143436815-e430e280-3e84-4385-8ddb-bca2b107fbee.png)

`IDictionary<TKey, TValue>` implements `ICollection<KeyValuePair<TKey, TValue>>` and therefore has a `Count` property.

The code in the screenshot can be found here:

https://github.com/SteamDatabase/ValveKeyValue/blob/a4cef9a8aacdfb92491314176216bf11a4b4cfc0/ValveKeyValue/ValveKeyValue.T

[2021-11-25 12:02] manfred-brands commented on #407
Is it only the analyser?
If you suppress NUnit2022 does the actual NUnit engine run fine?

[2021-11-25 12:15] yaakov-h commented on #407
Yep, the test passes.

[2021-11-26 00:51] manfred-brands commented on #407
The issue seems to be with the generic parameter constraint.

This does not raise NUnit2022:
[code]

But this version does:
[code]

So it seems we are not checking constraints.

[2021-11-30 01:00] yaakov-h opened #410 "NUnit2044 false-positive on explicit delegate type"
[code]

This triggers **NUnit2044**:The type of the actual argument must be a delegate.

In this case, the type already _is_ a delegate, as `resourceStreams.Commit` is a method defined as `public void Commit()`.

[2021-11-30 02:08] manfred-brands commented on #410
@yaakov-h You are correct.

It doesn't trigger for me when using:

[code]

[2021-11-30 21:16] #407 closed

[2021-11-30 21:22] #410 closed

[2021-12-14 02:48] manfred-brands opened #414 "Add DiagnosticSuppressor for Nullable<T>"
Currently the following is not suppressed:

[code]

We need to update to DiagnosticSuppressor to detected `Nullable<T>` and `.HasValue`

[2021-12-14 03:59] manfred-brands commented on #414
Workaround is:
[code]

[2021-12-15 21:34] #414 closed

[2022-01-02 21:27] jnm2 opened #416 "Option to make a single package version support multiple versions of Roslyn"
StrongInject is gaining the ability to build for both Roslyn 3.8 and 4.0 in the same package: https://github.com/YairHalberstadt/stronginject/pull/181

A similar (but not exactly identical) approach could be used to build for both Roslyn 2.x and 3.x (and even 4.x) in one package if you were interested.

The .NET SDK starting with v6 (= VS2022) natively understands how to properly load from .nupkg

[2022-01-08 22:37] mikkelbu opened #418 "Add README.md to nuget file"
Currently we have the following "warning" on NuGet
![image](https://user-images.githubusercontent.com/1007631/148662137-86ce1e62-bedf-460c-a757-93c993ad2df6.png)

See https://docs.microsoft.com/en-us/nuget/reference/nuspec#readme for how to add the readme to the nuget file.

[2022-01-12 08:12] ProfBits opened #420 "NUnit2045 raises IndexOutOfRangeException on CodeAnalysis"
## Description
NUnit2045 raises IndexOutOfRangeException on executing Analyze -> Run Code Analysis -> On Solution.

Expected: no exception

## How to reproduce

1. Create a new Solution with .net5 ClassLibrary project
2. Add a NUnitTestProject (.net5)
3. Update packges of test project
4. Add NUnit.Analyzers to test project
5. Execute Analyze -> Run Code Analysis -> On Solution

-> An Waring with t

[2022-01-12 10:06] manfred-brands commented on #420
Thanks for the report.
I haven't managed to reproduce it, but can see when it could happen.

Can you change the `Assert.Pass()` in your project to something like `Assert.Pass("No errors")`?
The code assumes at least one argument.

[2022-01-12 10:26] manfred-brands commented on #420
I managed to reproduce the issue in an nunit test and have a fix.

[2022-01-12 10:30] ProfBits commented on #420
@manfred-brands Thank you for looking into it so fast, and yes changing it to `Assert.Pass("No errors")` prevents the error from occuring on my system

[2022-01-12 15:19] #420 closed

[2022-01-18 18:38] JasonBock opened #422 "UseAssertMultipleAnalyzer Creation Error"
I'm getting this error in a project:
[code]
I've seen this pop up on other test libraries I have, but this is the first time I've stopped to capture the details :). I set the build verbosity to `Diagnostic` but nothing showed up in the log.

Analyzer package version is `3.3.0`

[2022-01-19 00:58] manfred-brands commented on #422
There seems to be a discrepancy in the version numbers in your error message. It seem to look in the 3.3.0 version in your .nuget package folder, but then complains it cannot load the type from version 3.2.0 of the dll which is correct.

Is this from VS where you updated the version number and then do a rebuild? I think VS still needs a restarts when updating analyzer versions.

[2022-01-19 13:15] thomhurst opened #424 "Tests won't run with an abstract base class that has a TestCaseFixtureSource"
When reporting a bug, please provide the following information to speed up triage:

* NUnit and NUnit3TestAdapter versions
NUnit 3.12.2 NUnit3TestAdapter 4.2.0

* A short repro, preferably attached or pointing to a git repo or gist
[Repo Here](https://github.com/thomhurst/FailingAbstractTestCaseFixtureSourceNUnitTestProject) - Can't run tests when inheriting from an abstract base class that has a

[2022-01-19 13:33] JasonBock commented on #422
Huh....I'm not sure if I updated the version or not. But I updated VS 2022 yesterday, so I just reopened the project, rebuilt, and now I don't get the warnings.

Shut down and start up again? Maybe :)

[2022-01-20 07:31] mikkelbu opened #423 "Add analyzers for TestCaseFixtureSource"
See com/nunit/nunit3-vs-adapter#945 for context (especially if we should do some special-handling regarding base-classes)

See https://docs.nunit.org/articles/nunit/writing-tests/attributes/testfixturesource.html for requirements.

[2022-01-20 10:29] manfred-brands commented on #424
@OsirisTerje Please transfer to nunit itself not NUnit.Analyzers

[2022-02-03 03:31] manfred-brands commented on #416
@jnm2 I have used this approach for my company analyzer and it works for switching between 3.x and 4.0 version.
How would you update the target to switch between 2.x, 3.x and 4.x? is the Roslyn version known as an msbuild variable?

[2022-02-03 18:04] jnm2 commented on #416
I'd have to look through MSBuild Structured Log Viewer for candidates, but I'm pretty sure I've seen the SDK version itself as a properly and the major versions line up in parallel if all else fails.

[2022-02-24 14:07] manfred-brands commented on #422
@JasonBock or @mikkelbu Can you close this issue please?

[2022-02-24 14:12] #422 closed

[2022-02-25 09:17] manfred-brands opened #428 "Move to use cake as a dotnet tool"
This then matches the usages in [nunit](https://github.com/nunit/nunit) and [nunit-console](https://github.com/nunit/nunit-console)

[2022-02-26 19:33] #418 closed

[2022-02-27 23:56] manfred-brands commented on #416
@mikkelbu I will be working on this. Can you assign it to me (or give me assign limited rights in this repository)?

[2022-02-28 07:54] manfred-brands opened #429 "Drop the VSIX project"
The VSIX project only allows the analyzers to run in Visual Studio, which means that CLI build would not use them.

They have been [removed ](https://github.com/dotnet/roslyn-analyzers/issues/3314#issuecomment-747598315) from the VS extension marketplace for the roslyn analyzers.

NuGet package allows different rules/versions for different projects and can be used in CI processes.

[2022-02-28 08:11] JohanLarsson commented on #429
A VSIX can still be useful for debugging.

[2022-02-28 21:54] mikkelbu commented on #416
Thanks @manfred-brands. I've assigned the issue to you and I will look into giving you more rights in this repo as you have been the main driving force the last couple of years 👍

[2022-03-18 16:06] fdfey opened #430 "Using Assert.Ignore() returns exception"
error AD0001: Analyzer 'NUnit.Analyzers.UseAssertMultiple.UseAssertMultipleAnalyzer' threw an exception of type 'System.IndexOutOfRangeException' with message 'Index was outside the bounds of the array.'

when using:
Assert.Ignore();

changing to:
Assert.Ignore("Ignored");

it fixes

------
Version 3.3.0
.NET SDK 6.0

[2022-03-18 20:05] chm-tm opened #431 "NUnit2044 false positive with `Has`"
The following code works as intended, but is banned with NUnit2044.
[code]
Maybe there are other use cases where a delegate condition isn't necessary.

To stay with the analyzers, simply use
[code]
for now.

[2022-03-19 00:26] manfred-brands commented on #430
This is similar to #420 and likely fixed by the same PR.
You can try the pre-release package from [myget](https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers/3.4.0-dev-00868) to confirm.

[2022-03-19 02:46] manfred-brands commented on #431
The `NUnit2044` is there to detect errors where the left-hand-side is a constant and won't change over time.

[code]

Even though in the example the _list_ instance is constant, its contents can change.
I'm just wondering what the best way to fix this is.

Besides `Has.Count`, I would say most other `Has` members qualify, except for `Has.Attribute` which wouldn't change ever. But it wouldn't chang

[2022-03-19 03:22] manfred-brands commented on #431
One suggestion is to not fix this at all.

Yes, NUnit works with the first version, but the suggested version with the delegate makes it clearer that the first argument is re-evaluated.
Isn't it the job of the analyzer to make better/more-understandable code?

[2022-03-21 06:24] chm-tm commented on #431
I think that `NUnit2044` happens most of the time since `.After` clearly expresses that the expected value has to be evaluated, but one forgets to supply the first argument in a technical manner that allows NUnit to do so.

That said, I can imagine that some fellows preferred to always use a delegate notation for enhanced readability. They do this in the same mood as they wouldn't  omit an `Is.Tru

[2022-03-26 14:51] #272 closed

[2022-03-26 15:36] mikkelbu commented on #430
@fdfey I'll try to get a new release out this weekend. Probably tomorrow.

[2022-03-28 09:46] smkanadl opened #436 "Using Has.Count in `Assert.Multiple` re-raises nullable reference warning"
I recently apply a quickfix to use `Has.Count.EqualTo(1)` instead of the classical `Count, Is.EqualTo(1)`.

What I noticed afterwards is that some (to me suspicious) CS8604 are raised for the collection variable that also has an explicit `It.Not.Null` check. It only happens if the `Has.Count` is used in an `Assert.Multiple` block.

I crafted an example where it failes and two examples which compil

[2022-03-28 10:55] manfred-brands commented on #436
Thanks @smkanadl I can confirm the issue.
Weird is that when swapping the count and select, there is no problem:
[code]

Now to find the cause and fix. @mikkelbu You can assign this to me (I still cannot do that myself)

[2022-03-28 11:02] smkanadl commented on #436
Thanks for taking a look.

Yes, that swap look very weird. I haven't tried it because it made no sense to me 😀.

[2022-03-29 13:45] mikkelbu commented on #436
Thanks for taking a look at this @manfred-brands. I'll see if I can give you some permissions tonight.

[2022-03-30 09:39] manfred-brands commented on #430
Duplicate of #420

[2022-03-30 09:39] #430 closed

[2022-03-30 16:52] fdfey commented on #430
no worries, I already used the workaround, thanks for let me know! :)

[2022-03-31 19:58] #436 closed

[2022-04-04 09:29] manfred-brands opened #442 "Analyzer for TestCaseSource does not check Test method parameters"
The `TestCaseUsageAnalyzer` warns if the test method doesn't have the same number of parameters.
The `TestCaseSourceUsesStringAnalyzer` only test if the parameters for the test source method match.

Either create a new or add to the existing `TestCaseSourceUsesStringAnalyzer` code to check test parameters.

[code]

This should raise an issue that the test method doesn't expect parameters.

[2022-04-07 14:49] b-a-roberts opened #444 "Anaylzer conversion for class with Count property can be incorrect"
Example code

[code]
Gets converted to

[code]
Obviously the above then throws at run time, because 'MyClass' is not enumerable. Ideally the analyzer should not suggest changes where the type requires a specific implementation that it does not support.

[2022-04-07 19:53] stevenaw commented on #444
Thanks @b-a-roberts
I'm not able to test your code at the moment, but does it fail at runtime using v3.13.3 of the framework? I recall a fix had to be made there recently to support Count on Priorityqueue, which also doesn't implement IEnumerable

[2022-04-07 23:36] manfred-brands commented on #444
The above does indeed fail with 3.13.2 and passes with 3.13.3.

We have a bit of a dilemma: `PriorityQueue` is a "Collection" which does not implement `IEnumerable`, but has a `Count` property. For this `Is.Empty` makes sense. That is the reason for the change in Nunit.Framework.

However not every class with a `Count` property is a collection of something, it could be just counting the number of

[2022-04-09 00:05] manfred-brands opened #446 "Move to latest Gu.Roslyn.Assert nuget packages"
This is preparation work for #416

The equivalent code for `DiagnosticsSuppressorAnalyzer` was now moved to [Gu.Roslyn.Assert](https://github.com/GuOrg/Gu.Roslyn.Asserts/pull/255)
Removed the original class from our source and call `RoslynAssert.Suppressed` instead.

The latest Gu.Roslyn.Assert has nullable enabled by default. This requires some changes to other tests.

[2022-04-10 15:24] #444 closed

[2022-04-12 04:05] manfred-brands opened #448 "Analyzer doesn't detect non-nullable field set in overridden SetUp method"
Historically some of our classes have virtual `SetUp` methods that are overridden in derived classes.
The derived class doesn't have the `SetUp` attribute, but the base class definition has.

The rule should look up the chain to see if the method that it overrides has the attribute.

[code]

[2022-04-13 08:52] #448 closed

[2022-04-29 07:33] manfred-brands commented on #52
Could have helped with https://github.com/nunit/nunit/issues/4107

[2022-05-02 08:40] #446 closed

[2022-05-23 06:55] smkanadl opened #459 "False positives for NUnit2046 on non-array-like types"
I really like the `Has.Count` and `Has.Length` syntax, so I use it a lot.

In some projects, I have types that similar to the following example
[code]

I know it is not a big deal, but I was wondering if the analyzer could check for the actual type instead of raising the suggestion for all Asserts including a `Length` (or `Count`) property. Not all types having such a property are actually Arrays,

[2022-05-23 07:21] mikkelbu commented on #459
I think it makes sense to improve the logic in UseCollectionConstraintAnalyzer.cs so that we reduce the number of false positives.

[2022-05-23 08:36] manfred-brands commented on #459
I think this is covered by #445. Can you try the pre-release package at [myget.org](https://www.myget.org/feed/nunit-analyzers/package/nuget/NUnit.Analyzers/3.4.0-dev-00952)?

[2022-05-25 02:18] manfred-brands commented on #459
@smkanadl You can try to package from this PR: https://ci.appveyor.com/project/mikkelbu/nunit-analyzers/builds/43651598/artifacts

[2022-05-25 06:14] smkanadl commented on #459
@manfred-brands All warnings gone. Test passed. Thank you very much!

[2022-05-29 08:19] #459 closed

[2022-06-22 03:38] manfred-brands opened #462 "DiagnosticsSuppress does not suppress CS8634"
Given the following constructed example:
[code]
Result in error:
[code]

Even trying to be explicit, doesn't remove the error:
[code]

This might be a limitation on the `DiagnosticSuppressors` where we suppress the error generated for the cast, but we don't change the compiler's understanding of what could be null. We don't do a complete flow analysis on `notNull`

The only option that seems to wo

[2022-07-17 00:09] geoff-m opened #464 "False positives for NUnit2021 (Incompatible types for EqualTo constraint)"
![image](https://user-images.githubusercontent.com/22863275/179375235-e1dd7a58-a677-4439-9721-70a8a553632f.png)
`SquareTools.Parse` returns `Square`, (`enum Square : ushort`). The test passes, as expected, despite NUnit's analysis.

Even though there is only one type in the whole solution named Square, I tried fully qualifying it in the `AreEqual` call and in the return type of `Parse`. When I did

[2022-07-20 08:51] killergege opened #465 "False positive for NUnit2021 with Throws/EqualTo contraint"
The following code reports error NUnit2021 (on `EqualTo(exception)`)

[code]

The test passes but `The EqualTo constraint always fails as the actual and the expected value cannot be equal` is reported.

I didn't find any obvious ways to check that the instance thrown is the one expected (and not just type).
If this is not the right way, I'm interested by an alternate solution.

[2022-07-21 01:13] manfred-brands commented on #465
I can confirm this bug and will aim to fix it.

[2022-07-22 02:57] manfred-brands opened #467 "Build Issues"
@mikkelbu The build issues are caused by https://github.com/dotnet/roslyn-analyzers/issues/6035 which I reported with a fix. Even though the issue is merged, it is not fixed in the latest (beta) version of the package.

[2022-07-25 19:42] #467 closed

[2022-07-25 20:23] mikkelbu commented on #465
I don't think this can be done using the `Assert.That(...)` syntax, but you can using Assert.Throws<...>(...)`. So something like

[code]

[2022-07-26 10:03] #465 closed

[2022-09-06 00:54] brian-reichle opened #473 "Suggest not using 'Assert.Multiple' with only one assertion or when empty."
There isn't any point using `Assert.Multiple` if it contains zero or one assertions, so should produce a diagnostic suggesting that it be removed.

[code]

The code fix should simply replace the first call with the contained assertion, and delete the second call.

[code]

[2022-09-06 02:13] manfred-brands commented on #473
The idea is good, it is just not that straightforward. Mainly because `Assert` could be called indirectly through other methods, either local or external. See also #112.
Like in #112 the last case can be detected if the body is empty, but if it contains just comments, like temporary commented out code you would loose all those.

[2022-09-06 02:40] brian-reichle commented on #473
Commented out code is a pet-hate of mine :), but the indirect assertions is a good point.

[2022-09-06 02:40] #473 closed

[2022-09-08 15:02] JasonBock opened #474 "Code Fix for NUnit2046 Reported For Span Results In Error"
To reproduce this, create a class library for .NET 6 with the following NUnit references:
[code]
Create the following test:
[code]
NUnit2046 will light up for the `Assert`. However, if I use the "Use Has.Length" code fix:

![image](https://user-images.githubusercontent.com/904213/189156403-3ed5e1f7-506e-4e6d-8819-fcc074c3ec5e.png)

This creates the following compiler error:
[code]

[2022-09-09 19:24] mikkelbu commented on #474
Thanks for the report @JasonBock. I guess we should not report and supply a code fix for types that are ref structs.

[2022-09-10 01:35] manfred-brands commented on #474
I will fix it.

[2022-09-10 02:01] manfred-brands commented on #474
Actually the latest source no longer triggers the suggestion for Span, because of changes done for #459 (PR #460).
This stops the suggestion on types that do not implement `IEnumerable`, which includes Span.
When trying to create a `ref struct` that implements `IEnumerable`, I get the warning:
[code]

So I think all we need is a new release?

[2022-09-10 15:38] JasonBock opened #475 "Code Fix for NUnit2010 on Ref Structs Creates CS1503"
This might be similar to an issue [I just submitted](https://github.com/nunit/nunit.analyzers/issues/474)

Write this test:

[code]

This triggers NUnit2010. The code fix creates this code:

[code]

But then this raises the CS1503 compiler error.

[2022-09-11 00:47] manfred-brands commented on #475
This will affect also other operator constraints like: `Assert.That(comparableRef1 < comparableRef2, Is.True);`

[2022-09-16 05:51] chm-tm commented on #420
@manfred-brands We're suffering from this issue. Do you have a release date for 3.4/2.4?

[2022-09-16 05:53] chm-tm commented on #420
Ah I [see I could get the prerelease on myget](https://github.com/nunit/nunit.analyzers/issues/430#issuecomment-1072902405).

[2022-09-16 05:57] manfred-brands opened #478 "Create 3.4.0 release"
It has been 8 months since the last release, people are reporting bugs already fixed.

Any change for a release (after #477 is merged)?

[2022-09-16 05:57] manfred-brands commented on #420
@chm-tm I do not, but I think one is due. I created #478

[2022-09-16 07:08] mikkelbu commented on #478
@manfred-brands I think it makes sense for a release 👍 . I've been too busy over summer and wanted to look at https://github.com/nunit/nunit.analyzers/pull/432#issuecomment-1079887847 before releasing, but so far I have not had time (all time have been spent triaging, answering questions, and reviewing in different repos).

I'll see if I can find some time next week.

[2022-10-23 19:34] #478 closed

[2022-11-05 13:45] #475 closed

[2022-11-05 13:47] mikkelbu commented on #474
This was closed in release 3.5

[2022-11-05 13:47] #474 closed

[2022-11-22 17:40] arkalyanms opened #493 "From internal test team: 1 Warning occurs after creating a NUnit Test Project"
Moved over from https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1684963

<html>
<body>
<div style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: &quot;Segoe UI VSS (Regular)&quot;, &quot;Segoe UI&quot;, -apple-system, BlinkMacSystemFont, Roboto, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Sego

[2022-11-23 04:17] manfred-brands commented on #493
This looks like a duplicate of #420. Can you upgrade to version 3.5.0 to see if the problem disappears?